@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet
);

.container {
  padding: 8rem 0;

  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;

  background-color: $color-white-light;
}

.content {
  grid-column: 2 / 3;
}


@include media('<lower-tablet') {
  .container {
    display: none;
  }
}
