@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'lower-mid-phone': $lower-mid-phone,
  'small-phone': $small-phone
);

.capsule {
  background-color: $color-offblack;
}

.list {
  @extend .container;
  @extend .d-flex;
  @extend .flex-wrap;
}

.item {
  @extend .align-self-center;
  text-align: center;
  padding: 1.5rem 0;
  border-bottom: 3px solid $color-offblack;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 3.9rem;
  }
  & span {
    color: $color-offwhite;
    @include proxima-semi-bold;
    font-size: 1.7rem;
    line-height: 2.9rem;
    text-transform: capitalize;
  }

  &.active {
    border-bottom: 3px solid $color-orange-primary;

    & span {
      color: $color-orange-primary;
    }
  }
}


@include media('<lower-tablet') {
  .item {
    width: 11.4rem;
    &:not(:last-child) {
      margin-right: 3rem;
    }
    &:nth-child(5n) {
      margin-right: 0;
    }
    & span {
      line-height: 2rem;
    }
  }
}


@include media('<=upper-phone') {
  .item {
    width: 10.5rem;
    &:not(:last-child) {
      margin-right: 3rem;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  .list:after {
    content: "";
    flex: auto;
  }
}

@include media('<=lower-phone') {
  .item {
    width: 9rem;
    &:not(:last-child) {
      margin-right: 3rem;
    }
    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }
}

@include media('<=small-phone') {
  .item {
    width: 9rem;
    &:not(:last-child) {
      margin-right: 8rem;
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
