@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone
);

.container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
  background-color: $color-offblack;
}

.list {
  grid-column: 2 / 3;
  display: flex;
  flex-flow: row wrap;
}

.item {
  text-align: center;
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 3px solid $color-offblack;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 3.9rem;
  }

  & span {
    color: $color-offwhite;
    @include proxima-semi-bold;
    font-size: 1.7rem;
    line-height: 2.9rem;
    text-transform: capitalize;
  }

  &.active {
    border-bottom: 3px solid $color-orange-primary;

    & span {
      color: $color-orange-primary;
    }
  }
}


@include media('<lower-tablet') {
  .list {
    justify-content: left;
  }

  .item {
    width: 11.4rem;
    justify-content: center;

    & span {
      line-height: 2rem;
    }
    &:not(:last-child) {
      margin-right: 3.9rem;
    }
  }
}


@include media('<=upper-phone') {
  .list {
    justify-content: space-between;
  }

  .item {
    width: 9.4rem;
    justify-content: center;
    &:not(:last-child) {
      margin-right: 4.3rem;
    }
  }
  .list:after {
    content: "";
    flex: auto;
  }
}

@include media('<=lower-phone') {
  .list {
    justify-content: space-between;
  }

  .item {
    width: 9.4rem;
    justify-content: center;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  .list:after {
    content: "";
    flex: auto;
  }
}
