@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'lower-mid-phone': $lower-mid-phone
);

.capsule {
  @extend .container;
  background-color: $color-offblack;
}

.list {
  @extend .row;
  display: flex;
  flex-flow: row wrap;
}

.item {
  @extend .col-12;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 3px solid $color-offblack;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 3.9rem;
  }

  & span {
    color: $color-offwhite;
    @include proxima-semi-bold;
    font-size: 1.7rem;
    line-height: 2.9rem;
    text-transform: capitalize;
  }

  &.active {
    border-bottom: 3px solid $color-orange-primary;

    & span {
      color: $color-orange-primary;
    }
  }
}


@include media('<lower-tablet') {
  .item {
    width: 11.4rem;

    & span {
      line-height: 2rem;
    }
    &:not(:last-child) {
      margin-right: 3.9rem;
    }
  }
}


@include media('<=upper-phone') {
  .item {
    width: 9.4rem;
    &:nth-child(3n+3) {
      margin-right: 1rem;
    }
  }
  .list:after {
    content: "";
    flex: auto;
  }
}

@include media('<=lower-phone') {
  .item {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
}

@include media('<=lower-mid-phone') {
  .item {
    &:not(:last-child) {
      margin-right: 2.6rem;
    }
  }
}
