@import '~Styles/main';


:export {
  blueDark: $color-blue-dark;
  offBlack: $color-offblack;
}

.container {
  text-align: left;
  @include proxima-semi-bold;
}

.title {
  font-size: 1.6em;
  color: $color-grey-dark;
  text-transform: uppercase;
  padding: 1.5rem 0;
}

.episodes {
  padding-top: .5rem;
}

.episode {
  text-transform: capitalize;
  padding: .5rem 0;
  cursor: pointer;
  color: $color-orange-primary;
}
