{{ $dataFile := (index $.Site.Data.tags .Params.dataFileName)}}
<div class="banner-container">
  <img id="banner" src="/assets/images/{{ $dataFile.url }}-banner.png" />
  <h2 class="center-title">{{ .Title }}</h2>
</div>
<header class="wrap">
  {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
  {{ $.Scratch.Add "path" .Site.BaseURL }}
  <div id="breadcrumbs">
    <ul>
      {{ range $index, $element := split $url "/" }}
        {{ $.Scratch.Add "path" $element }}
          {{ if ne $element "" }}
          <li><a href='{{ $.Scratch.Get "path" }}/'>{{ . }}</a></li>
          {{ $.Scratch.Add "path" "/" }}
          {{ end }}
      {{ end }}
    </ul>
  </div>
  <h2 id="tag-header">{{ .Title }} Course Library</h2>
  <p id="tag-description">{{ $.Param "description" }}</p>
</header>
<section id="sample-episodes" class="wrap">
  <h2 id="video-header">Sample Episodes</h2>
  <div class="video-section">
    {{ range $.Param "sample_videos" }}
    <iframe src="//player.vimeo.com/video/{{ . }}" allowfullscreen></iframe>
    {{ end }}
  </div>
  <a href="/plans/" class="sign-up-btn">Start Learning Today</a>
</section>
<section class="wrap course-section">
  <h2>Popular Courses</h2>
  {{ range $dataFile.courses }}
    {{ if not .hidden }}
    <a class="course-list" href="{{ .url }}/">
      <li class="course-list-item">
        <p class="course-name">{{ .name }}</p>
        <p class="subtitle">{{ .subtitle }}</p>
        <p class="subtitle update">Recorded: {{ dateFormat "January 2006" .productionStart }}</p>
      </li>
    </a>
    {{ end }}
  {{ end }}
</section>
<section id="features-section">
  <div class="features-container">
    <div class="feature-highlight">
      <div class="content">
        <div class="features">
          <div class="feature">
            <span class="icon">{{ partial "visual/playback-icon.html" . }}</span>
            <h5>Up-to-date Online Training</h5>
          </div>
          <div class="feature">
            <span class="icon">{{ partial "visual/screens-icon.html" . }}</span>
            <h5>Accessible Anywhere, Anytime</h5>
          </div>
          <div class="feature">
            <span class="icon">{{ partial "visual/cap-icon.html" . }}</span>
            <h5>Learn From Experienced Professionals</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cta-background">
      <div class="cta">
        <h2>Get binge-worthy video tutorials for all MS Office products for the price of one</h2>
        <p>Subscriptions as low as $7.99/mo. See membership options <a href="/plans/">here</a>.</p>
        <button onclick="location.href='/plans'" id="category-cta-btn" class="sign-up-btn">Start my free trial</button>
      </div>
    </div>
  </div>
</section>
<span class="clear"></span>
