<header>
  <h2 id="main-header">{{ $.Param "header" }}</h2>
  <p id="main-description">{{ $.Param "header_description" }}</p>
</header>

<section>
  {{ $dataFile := (index $.Site.Data.tagCategories .Params.dataFileName)}}
  <div id="hex-container">
    <ul id="course-list">
      {{ range $dataFile.tags }}
      <li class="course-list-item">
          <a href="/{{ $dataFile.url }}/{{ .url }}/">
            <img class="hexagons" src="/assets/images/hex.png">
            <p class="center-text">{{ .tagname }}</p>
           </a>
        </li>
      {{ end }}
    </ul>
  </div>
</section>
<section>
  {{ range $.Param "course_list_description" }}
    <p>{{ . }}</p>
  {{ end }}
</section>
<div class="above-footer">
</div>
