@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
  lightGrey: $color-grey-secondary;
}

$breakpoints: (
  'tablet': $tablet,
  'phablet': $phablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.capsule {
  @include display-grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
  padding: 5,6rem 0 6.8rem;
  margin: 3.5rem 0 5rem;
}

.subtitle {
  grid-column: 2 / 3;
  @include proxima-semi-bold;
  font-size: 3.6rem;
  text-align: center;
  line-height: normal;
  margin-bottom: 2rem;
}

.wrapper {
  grid-column: 2 / 3;
  @include display-grid;
  flex-wrap: row nowrap;
  justify-content: space-between;
  margin: 2rem auto;
}

.content {
  grid-column: 3 / 4;
  padding: 0 2rem;
}

.bio {
  margin: 0.5rem 0;
}

.headshot {
  width: 200px;
}

.name {
  font-weight: 600;
}

.cert {
  font-size: 1.8rem;
  padding-top: 4px;
}


@include media('<phablet') {
  .capsule {
    margin: 1.5rem 0 5rem;
  }
  .wrapper {
    display: inline;
  }
  .headshot {
    display: block;
    margin: auto;
  }
  .name {
    text-align: center;
  }
  .subtitle {
    font-size: 2.6rem;
    margin: 1rem 0;
  }
}
