@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
  lightGrey: $color-grey-secondary;
}

$breakpoints: (
  'tablet': $tablet,
  'phablet': $phablet,
);

.capsule {
  padding: 5,6rem 0 6.8rem;
  margin: 3.5rem 0 5rem;
}

.subtitle {
  @extend .col-12;
  @include proxima-semi-bold;
  font-size: 3.6rem;
  text-align: center;
  line-height: normal;
  margin-bottom: 2rem;
}

.wrapper {
  flex-wrap: row nowrap;
  @extend .row;
  padding-bottom: 3rem;
}

.imageWrapper {
  @extend .col-6;
  @extend .offset-3;
  @extend .col-md-3;
  @extend .offset-md-0;
}

.content {
  @extend .col-12;
  @extend .col-md-9;
}

.bio {
  margin: 0.5rem 0;
}

.headshot {
  @include img-fluid;
}

.name {
  font-weight: 600;
}

.cert {
  font-size: 1.8rem;
  padding-top: 4px;
}

@include media('<tablet') {
  .name {
    padding-top: 1rem;
  }
  .wrapper {
    padding-bottom: 5rem;
  }
}


@include media('<phablet') {
  .capsule {
    margin: 1.5rem 0 5rem;
  }
  .name {
    text-align: center;
  }
  .subtitle {
    margin: 2rem 0;
  }
}
