@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
}
$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.capsule {
  @extend .row;
  padding: 2rem 0;
}

.colXS12 {
  @extend .col-12;
}

.accessibilityStyle {
  list-style-type: circle;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 2rem;
  @include adelle-sans-regular;
  color: $color-grey-dark;
}

.content {
  max-width: 1024px;
  margin: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: left;
}

.title {
  text-align: center;
  margin-bottom: 2.4rem;
}

.email {
  @include adelle-sans-regular;
  color: $color-orange-primary;
  font-size: 1.6rem;
}


@include media('<tablet') {

  .content {
    flex-flow: column nowrap;
    margin: 1rem;
  }

}


@include media('<=upper-phone') {
  .content {
    flex-flow: column nowrap;
    margin: 1rem;
  }
}


@include media('<=small-phone') {
  .content {
    flex-flow: column nowrap;
    margin: 1rem;
  }
}
