@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet
);

:export {
  orange: $color-orange-primary;
  size: $lower-tablet;
}

.capsule {
  padding-top: 7.2rem;
  padding-bottom: 8.4rem;

  background-color: $color-offwhite;
}

.list {
  @extend .row;
}

.see-more {
  display: none;
  @extend .col-12;
}


@include media('<lower-tablet') {
  .see-more {
    display: inline-block;
    padding-top: 2.4rem;
    text-align: center;

    &.show-more {
      display: none;
    }
  }
  .see-more-text {
    text-transform: capitalize;
  }
}
