@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


.container {
  padding: 12rem 0 20.8rem;

  background-image: url('Images/forTeams_hero@2x.png');
  background-size: 100%;
}

.intro {
  max-width: 1024px;
  margin: 0 auto;

  display: flex;
  flex-flow: column nowrap;
}

.title {
  max-width: 80rem;
  margin-bottom: 3.6rem;
}

.subtitle {
  max-width: 69.7rem;

  font-size: 2.8rem;
  line-height: 4.2rem;
}
