@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


:export {
  blueDark: $color-blue-dark;
  offBlack: $color-offblack;
}

.container {
  display: block;
  padding: 21px 16px 20px;
  text-align: left;
  border: 1px solid #E4E8EC;
  box-shadow: 0 4px 10px 4px rgba(21,23,70,0.08);
  border-bottom: 2px solid $color-blue-dark;
  background-color: $color-white;
}

.title {
  margin-bottom: 6px;
}

.course {
  display: flex;
  align-items: center;
  justify-content: space-between;


  & span {
    color: $color-offblack;
    @include adelle-sans-regular;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .length {
    color: $color-grey-dark;
  }
}



.name {
  display: inline-block;
  margin-right: 8px;

  @include adelle-sans-bold;
  line-height: 2.8rem;
  text-transform: capitalize;
}

.icon {
  margin-top: 5px;
}
