@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


:export {
  orangePrimary: $color-orange-primary;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(320px, 1024px) 1fr;
  align-items: center;
  background-color: $color-offblack;
}

.intro {
  grid-column: 2 / 3;
}

.navigation {
  color: $color-orange-primary;
  @include proxima-semi-bold;
  font-size: 1.8rem;
}

.arrow {
  margin-right: 10px;
  transform: scaleX(-1);
}

.title {
  color: $color-white;
  @include proxima-semi-bold;
  font-size: 6rem;
  letter-spacing: 0.5px;
  line-height: 6.6rem;
  text-transform: capitalize;
}
