@import '~Styles/main';


$breakpoints: (
  'lower-phone': $lower-phone
);

.capsule {
  // @extend .col;
  // background-color: $color-offblack;
  // background-image: url('Images/pattern_darkpurple.svg');
  // background-position: 50%;
  @extend .container;
}

.intro {
  @extend .col-12;
  // padding: 9.6rem 0 19rem;
}

.title {
  margin-bottom: 5.6rem;

  font-size: 6.4rem;
  text-align: center;
}
.switch {
  margin: 0 auto;
}


@include media('<lower-phone') {
  // .intro {
  //   padding: 6.1rem 0 13.1rem;
  // }

  .title {
    // width: 17rem;
    margin-bottom: 2.7rem;

    font-size: 4.8rem;
    letter-spacing: 0.4px;
    line-height: 5rem;
  }
}
