@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'lower-phone': $lower-phone,
  'uppper-mid-phablet': $uppper-mid-phablet
);

:export {
  orange: $color-orange-primary;
  size: $lower-tablet;
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

.capsule {
  padding: 7.2rem 0 8.4rem;
  margin: 0 2rem;
}

.titleRow {
  @extend .row;
}

.colXS12 {
  @extend .col-12;
}

.subtitle {
  @include proxima-semi-bold;
  font-size: 3rem;
  line-height: 3.8rem;
  text-align: center;
  padding-bottom: 3rem;
}

.courseList {
  @extend .row;
}

.courseLevel {
  @extend .col-12;
  @extend .col-lg-4;
  flex-flow: row nowrap;
  flex: 0 1 auto;
  justify-content: center;
  text-align: center;
  padding: 1rem 3rem;
}

.course {
  @include proxima-semi-bold;
  font-size: 2.2rem;
  border-bottom: 2px solid $color-orange-primary;
  padding: 1rem 0;
}

.courseName {
  @include adelle-sans-regular;
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem 0;
}

.small {
  font-size: 2.1rem;
  padding: 1.1rem 0;
}

.link {
  @include adelle-sans-regular;
  color: $color-orange-primary;
  font-size: 2rem;
  padding: 0.5rem 0;
}


@include media('<lower-tablet') {
  .capsule {
    padding: 3.2rem 0 3.8rem;
  }

  .courseLevel {
    width: 36rem;
    margin: 0 auto;
  }
}
