@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'lower-phone': $lower-phone
);

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

.coursePage {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
}

.Hero {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
  grid-column: 1 / -1;
}

.sidebar {
  grid-column: 1 / 2;
  background-color: $color-offwhite;
}

.details {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 375px auto;

}

.courseDetails {
  background-color: $color-offwhite;
  grid-column: 1 / 2;
  .title {
    text-transform: uppercase;
  }
}

.EpisodeDetails {
  grid-column: 2 / 3;
}

.CourseVideo {
  grid-column: 2 / 3;
}

.EpisodeExtras {
  grid-column: 2 / 3;
}



@include media('<lower-tablet') {

}

@include media('<lower-phone') {
  .list {
    padding-left: 0;
    padding-right: 0;
  }
}
