@import '~Styles/main';


$breakpoints: (
  'lower-phone': $lower-phone,
  'lower-tablet': $lower-tablet
);

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

.Hero {
  background-color: $color-offblack;
  display: block;
}

.details {
  @extend .container;
  display: block;
}

.courseDetails {
  padding-top: 2rem;
  background-color: $color-offwhite;
  @extend .col-12;
  @extend .col-lg-5;

  .title {
    text-transform: uppercase;
  }
}

.CourseExtras {
  @extend .row;
  @extend .no-gutters;
  display: block;
}

.episodes {
  @extend .row;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 15px;
}

.colXS12 {
  @extend .col-12;
}

.mobileEpisodes {
  display: none;
}

.episodeView {
  @extend .col-12;
  @extend .col-lg-7;
}

.EpisodeDetails {
  @extend .col-12;
}

.CourseVideo {
  @extend .col-12;
}

.EpisodeExtras {
  @extend .col-12;
}


@include media('<lower-tablet') {
  .episode {
    padding-bottom: 3rem;
  }
  .details {
    max-width: 100%;
  }
  .CourseExtras {
    padding-left: 15px;
  }
  .episodes {
    padding-left: 15px;
  }
  .desktopEpisodes {
    display: none;
  }
  .mobileEpisodes {
    display: inline-block;
    cursor: pointer;
  }
  .caret {
    transition: .2s;
    transform: rotateX(180deg);
  }
  .mobileEpisodeList {
    display: none;
  }
}

@include media('<lower-phone') {
  .list {
    padding-left: 0;
    padding-right: 0;
  }
}
