@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'lower-phone': $lower-phone
);

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

.coursePage {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
}

.Hero {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
  grid-column: 1 / -1;
}

.sidebar {
  grid-column: 1 / 2;
  background-color: #f9f9fb;
}

.details {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 375px auto;

}

.courseDetails {
  background-color: #f9f9fb;
  grid-column: 1 / 2;
  .title {
    text-transform: uppercase;
  }
}

.episodeDetails {
  grid-column: 2 / 3;
  padding: 3rem 2rem;
  .title {
    text-transform: capitalize;
    padding: 0 1rem 0;
  }
  .length {
    font-size: 1.6rem;
    padding-left: 1rem;
    color: $color-grey-dark;
  }
  .summary {
    font-size: 1.6rem;
    padding: 1rem 0 2rem 0;
  }
  .overlay {
    position: relative;
    float: left;
  }
  .overlay:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(4,2,43,.6);
  }
}



@include media('<lower-tablet') {

}

@include media('<lower-phone') {
  .list {
    padding-left: 0;
    padding-right: 0;
  }
}
