{
  "parser": "babel-eslint",
  "rules": {
    "strict": "off",
    "no-duplicate-imports": "error",
    "no-prototype-builtins":"error",
    "no-extra-parens": "error",
    "default-case": "error",
    "no-iterator":"error",
    "no-shadow":"error",
    "no-shadow-restricted-names":"error",
    "no-use-before-define":"error",
    "no-proto":"error",
    "no-void":"error",
    "no-useless-return":"error",
    "indent":["error", 2],
    "no-undef-init":"error",
    "no-var":"error",
    "prefer-const":"error",
    // the following react rules should be re-enabled and fixed, turned off temporarily
    "react/jsx-no-target-blank":"off",
    "react/no-string-refs":"off",
    "react/no-unescaped-entities":"off",
    "react/prop-types":"off"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "graphql": false
  }
}