@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet
);


.capsule {
  @extend .container;
}

.intro {
  padding-left: 2.4rem;
  @extend .col-12;
}

.title {
  max-width: 70rem;
  margin-bottom: 3.6rem;
}

.subtitle {
  width: 70rem;
  margin-bottom: 5.6rem;
  font-size: 2.8rem;
  line-height: 4.2rem;
}


@include media('<lower-tablet') {
  .intro {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .title, .subtitle {
    text-align: center;
  }

  .title {
    font-size: 4.8rem;
    letter-spacing: 0.4px;
    line-height: 5.8rem;
  }
  .subtitle {
    max-width: 35rem;
    margin-bottom: 4.8rem;

    font-size: 2.1rem;
    line-height: 3.1rem;
  }
}
