@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.capsule {
  @extend .row;
  padding: 2rem 0;
}

.colXS12 {
  @extend .col-12;
}

.subsection {
  @include proxima-semi-bold;
  font-size: 2.6rem;
  line-height: 3.2rem;
  text-align: center;
  margin: 2rem 0;
}

.supportText {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
