@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.capsule {
  padding: 12rem 0 15.4rem;

  background-color: $color-purple-dark;
  background-image: url('Images/pattern_lightpurple.svg');
  background-position: 50%;
}

.icon-box {
  width: 12rem;
  height: 12rem;
  margin: 0 auto;
  margin-bottom: 5.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6rem;
  background-color: #2F2983;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
  @extend .d-lg-flex;
}

.item {
  width: 30rem;
  margin: 0 3rem;
}

.title {

  text-align: center;
  margin-bottom: 2.4rem;
}
.summary {
  max-width: 29rem;
  font-size: 1.6rem;
  text-align: center;
  line-height: 2.4rem;
}


@include media('<tablet') {
  .capsule {
    padding: 5rem 0;
  }

  .icon-box {
    margin-bottom: 3rem;
  }

  .item {
    display: block;
    margin: 8rem auto;
  }

  .title {
    margin-bottom: 1.6rem;
  }
}
