@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'lower-phone': $lower-phone
);

:export {
  offBlack: $color-offblack;
  darkGrey: $color-grey-dark;
}

.capsule {
  padding: 9.6rem 0 11.3rem;

  @include display-grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;

  background-color: $color-white;
}

.capsuleTitle {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;

  max-width: 76rem;
  margin-bottom: 8rem;

  text-align: center
}

.title {

}

.learnings {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  max-width: 94.9rem;
  margin: 0 auto;

  @include display-grid;
  grid-template-columns: auto minmax(auto, 12rem) auto;
}

.icon-box {
  width: 12rem;
  height: 12rem;
  margin-bottom: 5.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6rem;
  background-color: $color-white-light;
}

.topic-title {
  text-align: left;
  margin-bottom: 3.2rem;
}

.summary {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}

.hands-on {
  grid-column: 1 / 2;

  & .topic-title {
    max-width: 41.1rem;
  }
  & .summary {
    max-width: 41.3rem;
  }
}

.practice-exams {
  grid-column: 3 / 4;

  & .topic-title {
    max-width: 30.6rem;
  }
  & .summary {
    max-width: 41.7rem;
  }
}


@include media('<lower-tablet') {
  .capsule {
    padding: 6.4rem 0 7.6rem;
  }

  .capsuleTitle {
    padding: 0 4rem;
  }

  .learnings {
    grid-template-columns: auto;
    justify-content: center;
  }

  .hands-on, .practice-exams {
    grid-column: unset;
  }

  .hands-on {
    margin-bottom: 6.4rem;
  }

  .icon-box {
    width: 10rem;
    height: 10rem;
    margin-bottom: 4rem;
    border-radius: 5rem;

    & .icon-labs{
      width: 6.3rem;
      height: 7.5rem;
    }
    & .icon-exams{
      width: 5.5rem;
      height: 7.6rem;
    }
  }

  .capsuleTitle {
    max-width: 34rem;
    margin-bottom: 7.2rem;
  }

  .title {
    font-size: 3rem;
    line-height: 3.7rem;
  }

  .topic-title {
    max-width: 41.7rem;
    font-size: 3rem;
    line-height: 3.7rem;
  }

  .topic-title {
    margin-bottom: 2.4rem;
  }

  .topic-title-one {
    width: 26.3rem;
  }
  .topic-title-two {
    width: 27.3rem;
  }

  .summary {
    width: 29.5rem;
  }
}


@include media('<lower-phone') {
  .learnings {
    padding: 0 4rem;
  }

  .topic-title {
    width: 20rem;
  }

  .summary {
    width: 24rem;
  }
}
