@import '~Styles/main';

$breakpoints: (
  'upper-phablet': $upper-phablet
);

:export {
  blueDark: $color-blue-dark;
  offBlack: $color-offblack;
}

.extras {
  @extend .col-12;
  padding-left: 0px;
}

.extra {
  @extend .row;
}

.colXS12 {
  @extend .col-12;
}

.icon {
  padding-right: 1rem;
  margin-top: -.8rem;
  vertical-align: middle;
}

.para {
  font-size: 1.6rem;
  line-height: 6rem;
  @include proxima-regular;
}

@include media('<upper-phablet') {
  .extras {
    padding-left: 15px;
  }
}
