@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone,
);

.capsule {
  @extend .row;
  @extend .justify-content-center;
  padding: 5rem 0;
}

.colXS12 {
  @extend .col-12;
}

.subtitle {
  @include proxima-semi-bold;
  font-size: 3.6rem;
  line-height: 3.4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.listcapsule {
  @extend .row;
  display: flex;
  @extend .justify-content-center;
  margin-top: 2rem;
}

.logo {
  margin: 2rem auto;
  padding: 0 6rem;
  display: flex;
  @extend .justify-content-center;
}

.item {
  @extend .col-12;
  @extend .col-sm-6;
  @extend .col-md-3;
  @extend .col-lg-4;
  @extend .col-xl-2;
}

@include media('<tablet') {
  .capsule {
    padding: 4rem 0;
  }

  .content {
    margin: 1rem;
  }

  .logo {
    margin: 2rem auto;
    padding: 0 2rem;
  }

}
