@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.capsule {
  @extend .row;
  max-width: 1056px;
  padding: 5rem 0 3rem;
  margin: 0 auto;
}

.item {
  @extend .col-12;
  @extend .col-lg-4;
}

.icon-box {
  width: 12rem;
  height: 12rem;
  margin-bottom: 4.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6rem;
  background-color: $color-white-light;
}

.title {
  margin-bottom: 2.4rem;
}

.subtitle {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.link {
  @include adelle-sans-regular;
  color: $color-orange-primary;
  font-size: 1.7rem;
}


@include media('<tablet') {
  .capsule {
    padding: 0 0 6.6rem;
  }

  .list {
    padding: 0 4rem;
    flex-flow: column nowrap;
  }

  .item {
    margin: 3rem 2rem;
  }

  .icon-box {
    width: 10rem;
    height: 10rem;
    margin-bottom: 4rem;
    border-radius: 5rem;
  }
  .icon {
    padding: 0 4rem;
  }
}

@include media('<=lower-phone') {
  .item {
    width: 24rem;
    max-width: 35rem;
  }
}
