@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet
);

:export {
  offblack: $color-offblack;
  greyDark: $color-grey-dark;
}

.container {
  padding: 10.8rem 0 11.5rem;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.list {
  grid-column: 2 / 3;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.item {
  width: 31.4rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  &:not(:last-child) {
    margin-right: 4.1rem;
  }
}

.icon-box {
  width: 12rem;
  height: 12rem;
  margin-bottom: 4.8rem;

  border-radius: 6rem;
  background-color: $color-white-light;

  &.laptop {
    padding: 1.4rem 1.8rem 1.5rem 2.4rem;
  }
  &.gear {
    padding: 2.2rem 3.1rem 2.1rem;
  }
  &.popcorn {
    padding: 1.9rem 2.9rem;
  }
}

.title {
  text-transform: capitalize;
  margin-bottom: 2.4rem;
}

.subtitle {
  margin-bottom: 8px;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.text-link {
  margin-left: 8px;
}


@include media('<tablet') {
  .container {
    padding: 6.4rem 0 6.6rem;
  }

  .list {
    flex-flow: column nowrap;
  }

  .item {
    width: 29.5rem;

    &:not(:last-child) {
      margin-bottom: 5.6rem;
      margin-right: 0;
    }
  }

  .icon-box {
    width: 10rem;
    height: 10rem;
    margin-bottom: 4rem;
    border-radius: 5rem;

    &.laptop {
      padding: 1.167rem 1.5rem 1.233rem 2rem;
    }
    & .laptop-icon {
      width: 6.5rem;
      height: 7.5rem;
    }

    &.gear {
      padding: 1.667rem 2.5rem 1.633rem;
    }
    & .gear-icon {
      width: 5rem;
      height: 6.7rem;
    }
    &.popcorn {
      padding: 1.583rem 2.483rem 1.517rem 2.317rem;
    }
    & .popcorn-icon {
      width: 5.2rem;
      height: 6.9rem;
    }
  }
}
