@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet,
  'lower-phone': $lower-phone
);

:export {
  offblack: $color-offblack;
  greyDark: $color-grey-dark;
}

.capsule {
  padding: 10.8rem 0 11.5rem;

  @include display-grid;
  grid-template-columns: 1fr auto 1fr;
}

.list {
  grid-column: 2 / 3;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.item {
  width: 31.4rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  &:not(:last-child) {
    margin-right: 4.1rem;
  }
  &:last-child {
    width: 31.7rem;
  }
  &.binge {
    width: 32.1rem;
  }
}

.icon-box {
  width: 12rem;
  height: 12rem;
  margin-bottom: 4.8rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6rem;
  background-color: $color-white-light;
}

.title {
  text-transform: capitalize;
  margin-bottom: 2.4rem;
}

.subtitle {
  margin-bottom: 8px;
  font-size: 1.6rem;
  line-height: 2.4rem;
}


@include media('<tablet') {
  .capsule {
    padding: 6.4rem 0 6.6rem;
  }

  .list {
    padding: 0 4rem;
    flex-flow: column nowrap;
  }

  .item {
    max-width: 29.5rem;

    &:not(:last-child) {
      margin-bottom: 5.6rem;
      margin-right: 0;
    }
  }

  .item:last-child {
    .summary {
      position: relative
    }
    .title {
      position: absolute;
      width: 32.1rem;
    }
    .subtitle {
      margin-top: 6rem;
    }
  }

  .icon-box {
    width: 10rem;
    height: 10rem;
    margin-bottom: 4rem;
    border-radius: 5rem;

    & .laptop-icon {
      width: 6.5rem;
      height: 7.5rem;
    }
    & .gear-icon {
      width: 5rem;
      height: 6.7rem;
    }
    & .popcorn-icon {
      width: 5.2rem;
      height: 6.9rem;
    }
  }
}

@include media('<=lower-phone') {
  .item:last-child {
    width: 24rem;
    max-width: 29.5rem;

    .summary {
      position: unset;
    }
    .title {
      position: unset;
      width: unset;
      max-width: 29.5rem;
    }
    .subtitle {
      margin-top: 0;
    }
  }
}

@include media('<lower-phone') {
  .item {
    width: 24rem;
  }
}
