@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet
);

:export {
  offBlack: $color-offblack;
  darkGrey: $color-grey-dark;
}

.capsule {
  @extend .container;
}

.content {
  // max-width: 1024px;
  //
  // display: flex;
  // flex-flow: row nowrap;
  // justify-content: space-between;
  // align-items: center;
  //
  // margin: 0 auto;
  //
  // @include display-grid;
  // grid-template-columns: auto, auto, 1fr, auto;
  // grid-gap: 3rem;
  @extend .row;
  @extend .d-flex;
  @extend .align-items-center;
}

.details {
  @extend .col-12;
  @extend .col-lg-8;
  .summary {
    padding-right: 6rem;
  }
}

.cta {
  @extend .col-12;
  @extend .col-lg-4;
  text-align: center;
}

.premium {
  @extend .col-12;
  margin-top: 2rem;
}


@include media('<lower-tablet') {
  .capsule {
    padding-top: 6.4rem;
    padding-bottom: 6.5rem;
  }

  .details {
    margin-bottom: 4rem;
    .summary {
      padding-right: 0;
    }
  }

  .title {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3rem;
    line-height: 3.7rem;
  }

  .premium {
    margin-top: 4rem;
  }

}
