@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.capsule {
  @extend .row;
  padding: 5rem 0 3rem;
}

.icon {
  padding: 0 4rem;
}

.icon-box {
  width: 12rem;
  height: 12rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  border-radius: 6rem;
  background-color: $color-white-light;
}

.title {
  margin-bottom: 2.4rem;
}

.subtitle {
  margin-bottom: 8px;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.link, .email, .tel {
  @include adelle-sans-regular;
  color: $color-orange-primary;
  font-size: 1.6rem;
}

@include media('<tablet') {
  .capsule {
    padding: 2rem 0 6.6rem;
  }
  .icon {
    margin: 0 6rem;
    padding: 2rem 0;
  }
  .icon-box {
    margin-bottom: 2rem;
  }
}

@include media('<=upper-phone') {
  .icon {
    margin: 0 2rem;
  }
}
