@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet
);

.Career {
  @extend .col;
  padding: 0;
}

.Hero {
  @extend .container-fluid;
  height: 400px;
  overflow: hidden;
  padding-top: 4.4rem;
  padding-bottom: 5.2rem;
  background-color: $color-offblack;
  background-image: url('Images/pattern_darkpurple.svg');
  background-position: center;
}

.Info {
  @extend .container-fluid;
  padding: 0;
}

@include media('<lower-tablet') {
  .Hero {
    padding-top: 7.2rem;
    padding-bottom: 9.7rem;
  }
}
