@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}
$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.capsule {
  @extend .row;
  padding: 2rem 0;
}

.colXS12 {
  @extend .col-12;
}

.privacyStyle {
  list-style-type: decimal;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 1rem 0;
  @include adelle-sans-regular;
  color: $color-grey-dark;
}

.content {
  max-width: 1024px;
  margin: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: left;
  padding: 1rem 0;
}

.subcontent {
  max-width: 1024px;
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: left;
  padding: 0.5rem 0;
}

.contactSection {
  max-width: 1024px;
  margin: 0;
  padding: 2rem 0;
}

.contact {
  font-size: 1.6rem;
  text-align: left;
}

.title {
  text-align: center;
  margin-bottom: 2.4rem;
}

.subtitle {
  @include proxima-semi-bold;
  font-size: 3.6rem;
  line-height: 3.8rem;
  margin-top: 2rem;
}

.link, .email {
  @include adelle-sans-regular;
  color: $color-orange-primary;
  font-size: 1.6rem;
}

@include media('<tablet') {
  .content {
    flex-flow: column nowrap;
  }
  .subtitle {
    font-size: 2.6rem;
  }
}
