@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone,
);

.capsule {
  @extend .container;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.col12 {
  @extend .col-12;
}

.colXS12 {
  @extend .col-12;
  @extend .col-md-10;
  @extend .offset-md-1;
}

.subtitle {
  @include proxima-semi-bold;
  font-size: 3.6rem;
  line-height: 3.4rem;
  margin-bottom: 2rem;
  @extend .d-flex;
  @extend .justify-content-center;
}

.listcapsule {
  @extend .row;
  @extend .d-flex;
  @extend .justify-content-center;
  margin-top: 2rem;
}

.logo {
  margin: 2rem auto;
  max-width: 200px;
}

.item {
  @extend .col-12;
  @extend .col-md-4;
}

.supportsContent {
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@include media('<tablet') {
  .capsule {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .content {
    margin: 1rem;
  }

  .supportsContent {
    padding-top: 2rem;
  }

}
