@import '~Styles/main';


$breakpoints: (
  'lower-phone': $lower-phone
);


.capsule {
  padding: 15% 0;
  background-image: url('Images/edutainers-group.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

@include media('retina2x', '>lower-phone') {
  .capsule {
    background-image: url('Images/edutainers-group.jpg');
  }
}
