@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'upper-phablet': $upper-phablet,
  'lower-phone': $lower-phone
);


.capsule {
  padding: 15% 0;
  background-image: url('Images/edutainers-group.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}


@include media('<lower-tablet') {

}

@include media('<upper-phablet') {
  .title, .subtitle {
  }
}

@include media('retina2x', '>lower-phone') {
  .capsule {
    background-image: url('Images/edutainers-group.jpg');
  }
}
