@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.container {
  padding: 9.6rem 0 13rem;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
}

.wrapper {
  grid-column-gap: 4rem;
  grid-row-gap: 1.6rem;
  display: grid;
  grid-column: 2 / 3;
}

.gsa {
  justify-self: center;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 auto;
  align-items: flex-start;
}

.gsaInfo {
  text-align: left;
}

.gsaLogo {
  padding-top: 1rem;
  width: 275px;
}

.intro {
  font-size: 1.6rem;
}



@include media('<tablet') {
  .container {
    padding: 0 2rem;
  }
  .gsa {
    padding: 0 4rem;
    margin-bottom: 4.8rem;
    text-align: center;
  }
}


@include media('<=upper-phone') {
  .gsa {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}


@include media('<=small-phone') {

}
