@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.container {
  padding: 4rem 22rem;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
}

.gsa {
  grid-column: 3 / 4;
  margin: 3rem 4rem 0 0;
}

.gsaLogo {
  width: 200px;
}

.gsaInfo {
  grid-column: 6 / 8;
  line-height: 2.4rem;
  margin-right: 10rem;
}

.intro {
  font-size: 1.6rem;
}



@include media('<tablet') {
  .container {
    padding: 0 2rem;
  }
}


@include media('<=upper-phone') {

}


@include media('<=small-phone') {

}
