@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


.home-container, .for-teams-container {
  height: 100%;

  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  background-image: url('Images/home_video@2x.png');
}
.for-teams-container {
  background-image: url('Images/forTeams_video@2x.png');
}

.play-button {
  cursor: pointer;
}
