@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


.container {
  height: 100%;

  background-image: url('Images/video_image@2x.png');
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  cursor: pointer;
}
