@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


.home-container, .for-teams-container, .on-air-container {
  height: 100%;

  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  background-image: url('Images/home_video@2x.png');
}

.for-teams-container, .on-air-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('Images/forTeams_video@2x.png');
}

.for-teams-container {
  height: 376px;
  margin: auto 0;
}

.on-air-container {
  background-size: cover;
}

.play-button {
  cursor: pointer;
}
