@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet,
  'upper-phablet': $upper-phablet,
  'video-width': 669px
);

:export {
  offBlack: $color-offblack;
  darkGrey: $color-grey-dark;
}

.capsule {
  padding: 7.2rem 0 9.9rem;
  background-color: $color-offwhite;
}

.content {
  max-width: 1035px;
  margin: 0 auto;
  @extend .row;
}

.for-teams-capsule {
  margin-top: 1.3rem;
  @extend .col-lg-8;
  @extend .col-12;
}

.img {
  width: 100%;
}

.vidwrap {
  position: absolute;
  width: 100%;
  height: 100%;

  text-align: center;
  cursor:pointer;

  & iframe {
    width: 100%;
    margin-top: 0;
  }
}

.for-teams-iframe {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  z-index: $z-iframe;
}

.play-button {
  position: absolute;
  top: 35%;
  left: 42%;
  z-index: $z-video;
  cursor: pointer;
}

.intro {
  @extend .col-12;
  @extend .col-lg-4;
}

.title {
  margin-bottom: 2.4rem;
}
.summary {
  line-height: 3.0rem;
}


@include media('<tablet') {
  .capsule {
    padding: 5.6rem 0 10.2rem;
  }
  .content {
    flex-flow: column nowrap;
    align-items: center;
  }

  .for-teams-capsule {
    order: 2;
    margin-top: 0;
  }

  .intro {
    margin-bottom: 7.1rem;
  }
  .title {
    font-size: 3rem;
    line-height: 3.7rem;
  }
  .summary {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}


@include media('<upper-phablet') {
  .intro {
    padding: 0 4rem;
  }
  .summary {
    // width: 27.7rem;
  }
}

@include media('<video-width') {
  .capsule {
    padding-bottom: 0;
  }
  .for-teams-capsule {
    width: 100%;
  }
}
