
@import '~Styles/main';

.Career {
  grid-template-columns: 1 / -1;
  grid-template-rows: 1 / 4;
  grid-area: main;
}

.Hero {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  height: 400px;
  overflow: hidden;
}

.Paths {
  grid-column: 1 / -1;
  grid-row: 2 / 4;
}
