@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'lower-phone': $lower-phone,
);

:export {
  size: $lower-tablet;
  greyDark: $color-grey-dark;
}

.container {
  padding: 2rem 0 8.4rem;

  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;

}

.article, .info {
  grid-column: 2 / 3;
  grid-template-columns: repeat(auto-fit, minmax(492px, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 1.6rem;
  margin: 1rem 0;
}


@include media('<lower-tablet') {
  .container {
    padding: 3.2rem 0 3.8rem;
  }
}


@include media('<lower-phone') {
  .flags {
    padding: 0 8px;
  }
}
