@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'lower-phone': $lower-phone,
);

:export {
  size: $lower-tablet;
  greyDark: $color-grey-dark;
}

.capsule {
  padding: 2rem 1rem 8.4rem;
  @extend .container;
}

.article {
  @extend .d-flex;
  @extend .flex-column;
  margin: 1rem 0;
}


@include media('<lower-tablet') {
  .capsule {
    padding: 2rem 2rem 3.8rem;
  }
}
