@import '~Styles/main';


:export {
  offBlack: $color-offblack;
  greyDark: $color-grey-dark;
}

$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone
);

.container {
  @include display-grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
  padding: 5.6rem 0 6.8rem;
}

.content {
  grid-column: 2 / 3;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.title {
  border-bottom: 8px;
  text-align: center;
}

.subtitle {
  max-width: 57.7rem;
  line-height: 3rem;
  text-align: center;
}

.details {
  padding: 5.6rem 0 6.8rem;
  p {
    padding: .8rem 0;
  }
}


@include media('<tablet') {
  .container {
    padding: 4.8rem 0 5.2rem;
  }

  .content {
    flex-flow: column nowrap;
  }

  .details {
    padding: 0 4rem;
    margin-bottom: 4.8rem;
    text-align: left;
  }

  .title {
    margin-bottom: 1.6rem;
    font-size: 3rem;
    line-height: 3.7rem;
  }

  .subtitle {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}


@include media('<=upper-phone') {
  .details {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  .title {
    width: 27.3rem;
  }
  .subtitle {
    width: 29.5rem;
  }

}


@include media('<lower-phone') {
  .content {
    padding: 0 1rem;
  }
}
