@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet
);

.capsule {
  @extend .container;
  padding-top: 7.2rem;
  padding-bottom: 8.4rem;
}

.article {
  @extend .row;
}


@include media('<lower-tablet') {
  .capsule {
    padding-top: 3.2rem;
    padding-bottom: 3.8rem;
  }
}
