@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'lower-phone': $lower-phone
);

:export {
  offBlack: $color-offblack;
  darkGrey: $color-grey-dark;
}

.capsule {
  padding: 9.6rem 0 11.3rem;

  @include display-grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;

  background-color: $color-white;
}

.capsuleTitle {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;

  max-width: 76rem;
  margin-bottom: 4rem;

  text-align: center
}

.maps {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  max-width: 94.9rem;
  margin: 0 auto;

  @include display-grid;
  grid-template-columns: auto minmax(auto, 12rem) auto;
}

.summary {
  font-size: 1.6rem;
}

.country {
  font-weight: 600;
}

.usa {
  grid-column: 1 / 2;

  & .topic-title {
    max-width: 41.1rem;
  }
  & .summary {
    max-width: 41.3rem;
  }
}

.uk {
  grid-column: 3 / 4;

  & .topic-title {
    max-width: 30.6rem;
  }
  & .summary {
    max-width: 41.7rem;
  }
}

iframe {
  margin-top: 2rem;
  max-width: 100%;
}

.tel {
  @include adelle-sans-regular;
  color: $color-orange-primary;
  font-size: 1.6rem;
}

@include media('<lower-tablet') {
  .capsule {
    padding: 6.4rem 0 7.6rem;
  }

  .capsuleTitle {
    padding: 0 4rem;
  }

  .maps {
    grid-template-columns: auto;
    justify-content: center;
  }

  .usa, .uk {
    grid-column: unset;
  }

  .usa {
    margin-bottom: 6.4rem;
  }

  .capsuleTitle {
    max-width: 34rem;
    margin-bottom: 7.2rem;
  }

  .title {
    font-size: 3rem;
    line-height: 3.7rem;
  }

  .summary {
    width: 29.5rem;
  }
}


@include media('<lower-phone') {
  .maps {
    padding: 0 4rem;
  }

  .summary {
    width: 24rem;
  }
}
