@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'lower-phone': $lower-phone
);

:export {
  offBlack: $color-offblack;
  darkGrey: $color-grey-dark;
}

.capsule {
  padding: 9.6rem 0 11.3rem;
  background-color: $color-white;
}

.capsuleTitle {
  max-width: 76rem;
  margin-bottom: 4rem;
  text-align: center
}

.maps {
  max-width: 94.9rem;
  margin: 0 auto;
}

.summary {
  font-size: 1.6rem;
}

.country {
  font-weight: 600;
}

// .usa {
//   & .topic-title {
//     max-width: 41.1rem;
//   }
//   & .summary {
//     max-width: 41.3rem;
//   }
// }
//
// .uk {
//   & .topic-title {
//     max-width: 30.6rem;
//   }
//   & .summary {
//     max-width: 41.7rem;
//   }
// }

// iframe {
//   margin-top: 2rem;
//   max-width: 100%;
// }

.tel {
  @include adelle-sans-regular;
  color: $color-orange-primary;
  font-size: 1.6rem;
}

@include media('<lower-tablet') {
  .capsule {
    padding: 6.4rem 0 7.6rem;
  }

  .capsuleTitle {
    padding: 0 4rem;
  }


  .usa {
    margin-bottom: 6.4rem;
  }

  .capsuleTitle {
    max-width: 34rem;
    margin-bottom: 7.2rem;
  }

  .title {
    font-size: 3rem;
    line-height: 3.7rem;
  }

  .summary {
    width: 29.5rem;
  }
}


@include media('<lower-phone') {
  .maps {
    padding: 0 4rem;
  }

  .summary {
    width: 24rem;
  }
}
