@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'lower-phone': $lower-phone,
  'tablet': $tablet
);

:export {
  offBlack: $color-offblack;
  darkGrey: $color-grey-dark;
}

.capsule {
  padding: 9.6rem 0 11.3rem;
  background-color: $color-white;
}

.titleRow {
  @extend .row;
}

.colXS12 {
  @extend .col-12;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.mapRow {
  @extend .row;
}

.summary {
  font-size: 1.6rem;
}

.country {
  font-weight: 600;
}

.usa, .uk {
  padding: 0 4rem;
}

.tel {
  @include adelle-sans-regular;
  color: $color-orange-primary;
  font-size: 1.6rem;
}

.maps {
  margin: 0 auto;
}

iframe {
  margin-top: 2rem;
}


@include media('<tablet') {
  .capsule {
    padding: 6.4rem 0 7.6rem;
  }

  .title {
    font-size: 3rem;
    line-height: 3.7rem;
  }

  .usa, .uk {
    padding: 4rem 0;
    margin: 0 8rem;
  }
}

@include media('<lower-tablet') {
  .usa, .uk {
    padding: 4rem 0;
    margin: 0 3rem;
  }
}
