@import '~Styles/main';


$breakpoints: (
  'header-tablet': $header-tablet,
  'tablet': 1024px
);


.container {
  display: grid;
  // @include primary-fr-1440-grid-template-columns;
  // grid-template-columns: 1fr 208px 314px 41px 137px 40px 137px 41px 314px 208px 1fr;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 315px 112px 315px 112px 315px;
}

.courses, .labs, .exams {
  grid-column: 2 / 3;
}
.courses {
  grid-row: 1 / 2;
}
.labs {
  grid-row: 3 / 4;
}
.exams {
  grid-row: 5 / 6;
}


@include media('<tablet') {
  .container {
    grid-template-rows: auto 6.4rem auto 6.4rem auto;
  };
}
