@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

:export {
  darkBlue: $color-blue-dark;
  darkGreen: $color-green-dark;
  offBlack: $color-offblack;
  purple: $color-purple-primary;
  white: $color-white;
}

.capsule {
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-lg-row;

  padding: 2.5rem 0;

  &:not(:first-child) {
    border-top: 1px solid #E4E8EC;
  }

  &.with-subtitle {
    padding: 1.2rem 0;
  }
}

.type {
  margin-bottom: 1.6rem;
  width: 100%;
  @extend .d-flex;
  flex-flow: column nowrap;
}

.title {
  color: $color-offblack;
  @include adelle-sans-regular;
  font-size: 1.8rem;
  line-height: 2.1rem;

  &.with-subtitle {
    line-height: 2.3rem;
  }
}
.subtitle {
  color: $color-grey-dark;
  @include adelle-sans-regular;
  font-size: 1.6rem;
  line-height: 2.4rem;

  &.bold {
    color: $color-purple-primary;
    @include adelle-sans-bold;
  }
}

.access {
  width: 100%;
  @extend .d-flex;
  @extend .flex-row;
  @extend .justify-content-lg-end;
  @extend .justify-content-between;

  & .premium {
    min-width: 12rem;
  }
  & .standard {
    min-width: 12rem;
  }
  & .free {
    min-width: 12rem;
  }
}

@include media('>=lower-tablet') {
  .title {
    // width: 432px;
  }
  .subtitle {
    // width: 432px;
  }
  .access {
    margin-bottom: 2rem;
  }
}
