@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'lower-phone': $lower-phone
);

:export {
  headingColor: $color-offblack;
}

.container {
  padding: 9.6rem 0 13rem;

  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;

  background-color: $color-white;
}

.flags {
  grid-column: 2 / 3;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(492px, 1fr));
  grid-column-gap: 4rem;
  grid-row-gap: 1.6rem;
}

.label {
  grid-column: 2 / 3;
  padding-bottom: 1.2rem;
}

.RecommendedCourses {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  padding: 4.8rem 0 6.6rem;

  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
}

.AdditionalCourses {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  padding: 4.8rem 0 6.6rem;

  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
}

.list {
  grid-column: 2 / 3;
  display: flex;
  flex-flow: column nowrap;

  & li {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }
}


@include media('<lower-tablet') {
  .RecommendedCourses, .AdditionalCourses {
    padding: 3.6rem 1.6rem 5.4rem;
  }
}

@include media('<lower-phone') {
  .list {
    padding-left: 0;
    padding-right: 0;
  }
}
