@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet,
  'lower-phone': $lower-phone
);

:export {
  orangePrimary: $color-orange-primary;
}

.container {
  padding: 4.4rem 0 5.2rem;

  @include display-grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;

  background-color: $color-offblack;
}

.intro {
  grid-column: 2 / 3;

  display: flex;
  flex-flow: column nowrap;
}

.navigation {
  color: $color-orange-primary;
  @include proxima-semi-bold;
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  text-transform: capitalize;
}

.title {
  margin-bottom: 1.6rem;
}

.subtitle {
  line-height: 3rem;
  padding-bottom: 1rem;
}

.arrow {
  margin-right: 10px;
  transform: scaleX(-1);
}

.time {
  font-size: 1.4rem;
  text-transform: capitalize;
}


@include media('<tablet') {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@include media('<lower-phone') {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
