@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'lower-phone': $lower-phone,
  'phablet': $phablet,
  'tablet': $tablet
);

:export {
  headingColor: $color-offblack;
  darkGrey: $color-grey-dark;
  orangePrimary: $color-orange-primary;
}

.Path {
  @extend .row;
}

.Hero {
  @extend .container-fluid;
  padding-top: 4.4rem;
  padding-bottom: 5.2rem;

  background-color: $color-offblack;
  background-image: url('Images/database-administration@2x.jpg');
  background-position: center;
  height: 400px;
  overflow: hidden;
}

.intro {
  @extend .col-12;
}

.navigation {
  color: $color-orange-primary;
  @include proxima-semi-bold;
  font-size: 1.8rem;
}

.arrow {
  margin-right: 10px;
  transform: scaleX(-1);
}

.title {
  max-width: 92rem;
  font-size: 6.4rem;
  letter-spacing: 0.53px;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.subtitle {
  max-width: 74.3rem;
  margin-bottom: 5.6rem;
  font-size: 2.8rem;
  line-height: 4.2rem;
}

.RecommendedCourses {
  @extend .row;

  padding-top: 6rem;
  padding-bottom: 3rem;
}

.AdditionalCourses {
  @extend .row;

  padding-top: 3rem;
  padding-bottom: 6rem;
}

.colXS12 {
  @extend .col-12;
}

.label {
  padding-bottom: 1.2rem;
}

.list {

  & li {
    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }
}

.Resources {
  @extend .row;

  padding-bottom: 6rem;

  background-color: $color-white;
  margin-bottom: 6rem;
}

.article {
  @extend .col-12;
  @extend .col-lg-6;
}

.summary {
  max-width: 50rem;
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@include media('<tablet') {
  .summary {
    max-width: 38rem;
  }
  .label {
    padding-left: 15px;
    padding-right: 15px;
  }
  .Resources {
    padding-left: 15px;
    padding-right: 15px;
  }
  .article {
    padding-bottom: 3rem;
  }
}

@include media('<lower-tablet') {

  .title {
    max-width: 61rem;
    font-size: 4.8rem;
    letter-spacing: 0.4px;
    line-height: 5.8rem;
  }

  .subtitle {
    font-size: 2.1rem;
    line-height: 3.1rem;
  }

}

@include media('<phablet') {
  .title {
    max-width: 41rem;
  }
}
