@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}
$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.capsule {
  padding: 2rem 0 6.8rem;
}

.titleRow {
  @extend .row;
}

.colXS12 {
  @extend .col-12;
}

.listcapsule {
  @extend .row;
}

.item {
  text-align: center;
  margin: 0;
  @extend .col-12;
  @extend .col-md-4;
}

.content {
  max-width: 1024px;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: left;
}

.title {
  text-align: center;
  margin: 2rem 0;
}


@include media('<tablet') {
  .capsule {
    padding: 0 0 2rem;
  }

  .content {
    flex-flow: column nowrap;
    margin: 1rem;
  }
}
