@import '~Styles/main';


$breakpoints: (
  'lower-phone': $lower-phone
);

.capsule {
  background-image: url('Images/thankyouhero@2x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  min-height: 320px;
}

@include media('retina2x', '>lower-phone') {
  .capsule {
    background-image: url('Images/thankyouhero@2x.jpg');
  }
}
