@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


:export {
  offBlack: $color-offblack;
  darkGrey: $color-grey-dark;
}

.container {
  height: 100%;

  display: grid;
  @include primary-fr-1440-grid-template-columns;
}

.intro {
  grid-column: 3 / 4;
  padding: 7.2rem 0 7.8rem;
}
.video {
  grid-column: 5 / 11;
}

.title {
  margin-bottom: 2.4rem;
}
.summary {
  line-height: 3.0rem;
}
