@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.capsule {
  @extend .row;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.item {
  @extend .col-10;
  @extend .offset-1;
  @extend .col-lg-4;
  @extend .offset-lg-0;
}

.itemContainer {
  @extend .d-flex;
  @extend .justify-content-center;
}

.icon-box {
  width: 18rem;
  height: 18rem;
  margin: 0 auto;
  @extend .d-flex;
  @extend .justify-content-center;
}

.menu-link {
  text-align: center;
}


@include media('<tablet') {
  .capsule {
    padding-top: 7.2rem;
    padding-bottom: 7.4rem;
  }

  .item {
    &:not(:last-child) {
      margin-bottom: 6.4rem;
    }
  }
}
