@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet
);

:export {
  offBlack: $color-offblack;
  darkOrange: $color-orange-dark;
}

.cols {
  @extend .col-12;
  @extend .col-md-6;
  margin-bottom: 2rem;
}

.item {
  width: 100%;
  height: 10rem;
  @extend .d-flex;
  @extend .justify-content-start;
  @extend .align-items-center;
  @extend .flex-nowrap;

  padding: 21px 16px 20px;
  text-align: left;

  cursor: pointer;

  border: 1px solid #E4E8EC;
  box-shadow: 0 4px 10px 4px rgba(21,23,70,0.08);
  border-bottom: 2px solid $color-orange-dark;
  background-color: $color-white;
  transition: transform 250ms;

  &:hover {
    transform: translateY(-2px);
  }
}

.title {
  margin-bottom: 12px;
}

.path {
  @extend .d-flex;
  @extend .align-items-center;
  max-width: 100%;

  & span {
    color: $color-offblack;
    @include adelle-sans-regular;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.name {
  max-width: 100%;

  @include adelle-sans-bold;
  line-height: 2.8rem;
  text-transform: capitalize;
}

.icon {
  margin-top: 5px;
}


@include media('<lower-tablet') {
  .item {
    height: 12.4rem;
    padding-top: 1.6rem;
    padding-bottom: 1.8rem;
  }

  .title {
    text-align: left;
    margin-bottom: 8px;
  }
}
