@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet
);

:export {
  offBlack: $color-offblack;
  darkOrange: $color-orange-dark;
}

.item {
  width: 492px;
  height: 10rem;
  padding: 21px 16px 20px;
  justify-self: center;

  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 auto;
  align-items: flex-start;

  text-align: center;
  cursor: pointer;

  border: 1px solid #E4E8EC;
  box-shadow: 0 4px 10px 4px rgba(21,23,70,0.08);
  border-bottom: 2px solid $color-orange-dark;
  background-color: $color-white;
  transition: transform 250ms;

  &:hover {
    transform: translateY(-2px);
  }
}

.title {
  margin-bottom: 12px;
}

.path {
  display: flex;
  align-items: center;
  text-align: left;

  & span {
    color: $color-offblack;
    @include adelle-sans-regular;
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.name {
  display: inline-block;
  margin-right: 8px;

  @include adelle-sans-bold;
  line-height: 2.8rem;
}

.icon {
  margin-top: 5px;
}


@include media('<lower-tablet') {
  .item {
    max-width: 49.2rem;
    width: 100%;
    height: 12.4rem;
    padding: 1.6rem 0 1.8rem 1.6rem;
  }

  .title {
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
  }

  .path {
    text-align: left;
  }
}
