@import '~Styles/main';


.button {
  @include btn($width: 420px);
  text-transform: capitalize;
  background-color: $color-orange-primary;

  &:hover {
    background-color: $color-orange-dark;
  }
}
