@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'lower-phone': $lower-phone
);

:export {
  offBlack: $color-offblack;
}

.wrapper {
  width: 100%;
  padding: 0 2rem;
}

.container {
  height: 39rem;
  padding: 2.4rem 5.6rem 3.6rem 5rem;
  position: relative;

  display: flex;
  flex-flow: row nowrap;

  border-radius: 2px;
  background-color: $color-white;
  box-shadow: 0 4px 2rem 4px rgba(21,23,70,0.14);
}

.quotes {
  color: $color-orange-primary;

  @include proxima-bold;
  font-size: 12rem;
  line-height: 14.6rem;

  margin-right: 8px;
}

.comment {
  width: 54rem;
  margin-top: 2rem;
}

.title {
  margin-bottom: 8px;

  font-size: 4.2rem;
  line-height: 5.2rem;
}

.summary {
  font-size: 2.4rem;
  line-height: 3.6rem;

  margin-bottom: 2.4rem;
}

.byUser {
  color: $color-orange-dark;
  @include adelle-sans-bold;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  line-height: 3rem;
}

.bottomBar {
  width: 100%;
  height: 2px;

  position: absolute;
  bottom: 0;
  left: 0;

  border-radius: 2px;
  background-color: $color-blue-primary;
}


@include media('<lower-tablet') {
  .wrapper {
    padding: 0 1rem;
  }

  .container {
    padding: 2.4rem 2.4rem 3.8rem 2.3rem;
  }
  .quotes {
    font-size: 6.6rem;
    line-height: 8.1rem;
  }

  .comment {
    margin-top: 1rem;
  }

  .title {
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  .summary {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 1.6rem;
  }

  .byUser {
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
  }
}

@include media('<lower-phone') {
  .wrapper {
    padding: 0 0.5rem;
  }
}
