@import '~Styles/main';


.title {
  margin-right: 8px;

  @include adelle-sans-bold;
  line-height: 2.8rem;
  text-transform: capitalize;
}

.icon {
  margin-top: 4px;
}

.icon.hide {
  display: none;
}
