@import '~Styles/main';


.title {
  margin-right: 8px;

  @include adelle-sans-bold;
  line-height: 2.8rem;
  text-transform: capitalize;
}

.text-link {
  display: inline-flex;
  align-items: center;
}

.icon.hide {
  display: none;
}
