@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


.container {
  height: 100%;
  padding: 72px 0 75px;

  display: grid;
  @include primary-fr-1440-grid-template-columns;

  background-color: $color-offblack;
}

.intro {
  grid-column: 3 /10;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  color: $color-white;
  text-align: center;
}

.title {
  padding: 0 1.5rem;
  margin-bottom: 2.4rem;
}

.subtitle {
  padding: 0 7rem;
  margin-bottom: 4.8rem;
}

.link {
  text-transform: none;
}
