@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet
);

.capsule {
  @extend .container-fluid;
  padding-top: 7.2rem;
  padding-bottom: 7.5rem;
  background-color: $color-offblack;
  background-image: url('Images/pattern_darkpurple.svg');
  background-position: 50%;
}

.intro {
  @extend .container;

  color: $color-white;
  text-align: center;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}


@include media('<lower-tablet') {
  .capsule {
    padding-top: 5.6rem;
    padding-bottom: 5.9rem;
  }

  .title {
    font-size: 3rem;
    line-height: 3.7rem;
    margin-bottom: 1.6rem;
  }
}
