@import '~Styles/main';


.about {
  display: block;
  @extend .col;
  padding: 0;
}

.Hero {
  @extend .container-fluid;
  padding: 7.2rem 0 7.5rem;
  background-color: $color-offblack;
  background-image: url('Images/pattern_darkpurple.svg');
  background-position: 50%;
}

.AboutContent {
  display: block;
}

.AboutStory {
  @extend .container-fluid;
  background-color: #f9f9fb;
  display: block;
}

.TrustedBy {
  display: block;
}

.Values {
  @extend .container-fluid;
  background-color: #f4f3f8;
  display: block;
}
