@import '~Styles/main';


.contact {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto;
}

.Hero {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.ContactContent {
  grid-column: 1/-1;
  grid-row: 2/3;
}
