@import '~Styles/main';


.courses {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 780px 250px 820px;
}

.Hero {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.Info {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.New-Content {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.Free-Courses {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}
