@import '~Styles/main';

$breakpoints: (
  'lower-phone': $lower-phone,
  'tablet': $tablet
);


.courses {
  @extend .col;
  padding: 0;
  position: relative;
}

.Hero {
  display: block;
  background-image: url('Images/courses_hero@1x.jpg');
  background-size: 100% 100%;
}

.Info {
  @extend .container-fluid;
  background-color: $color-offblack;
  padding: 0;
}

.New-Content {
  @extend .container-fluid;
  background-color: $color-purple-dark;
  padding-top: 5.6rem;
  padding-bottom: 6.8rem;
}

.Free-Courses {
  display: block;
}

@include media('<tablet') {
  .New-Content {
    padding-top: 4.8rem;
    padding-bottom: 5.2rem;
  }
}

@include media('retina2x', '>lower-phone') {
  .Hero {
    background-image: url('Images/courses_hero@2x.jpg');
  }
}
