@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet
);

.for-teams {
  @extend .col;
  padding: 0;
}

.Hero {
  @extend .no-gutters;
}

.Summary {
  @extend .container;
}

.Track-Results {
  @extend .no-gutters;
  background-color: $color-offwhite;
}

.Team-Needs {
  @extend .no-gutters;
}

.Enhancements {
  @extend .container;
}

.Team-Certs {
  @extend .no-gutters;
  background-color: $color-offwhite;
}

.Testimonials {
  @extend .no-gutters;
}


@include media('<tablet') {
  .Team-Certs, .Testimonials {
    display: none;
  }
}
