@import '~Styles/main';


.for-you {
  grid-area: main;

  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: auto auto 560px 200px 800px 650px 1000px 200px;
     grid-template-rows: auto auto auto  200px 800px 650px 1000px 200px;
}

.Hero {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.Summary {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.Learn-More {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  background-color: $color-offwhite;
}

.Vendors {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}

.Enhancements {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
}

.Testimonials {
  grid-column: 1 / -1;
  grid-row: 6 / 7;
}

.Plan {
  grid-column: 1 / -1;
  grid-row: 7 / 8;
}

.For-Teams {
  grid-column: 1 / -1;
  grid-row: 8 / 9;
}
