@import '~Styles/main';


.for-you {
  @extend .col;
  padding: 0;
}

.Hero {
  @extend .no-gutters;
}

.Summary {
  @extend .container;
}

.Learn-More {
  @extend .no-gutters;
  background-color: $color-offwhite;
}

.Vendors {
  @extend .no-gutters;
  background-color: #F4F4F7;
}

.Enhancements {
  @extend .container;
}

.Testimonials {
  @extend .no-gutters;
  @extend .ieHidden;
}

.Plan {
  @extend .no-gutters;
}

.For-Teams {
  @extend .no-gutters;
}

@include media('<tablet') {
  .Testimonials {
    display: none;
  }
}
