@import '~Styles/main';

$breakpoints: (
  'lower-tablet': $lower-tablet,
  'tablet': $tablet,
  'lower-phone': $lower-phone
);


.for-you {
  @extend .col;
  padding: 0;
}

.Hero {
  @extend .container-fluid;
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-image: url('Images/forYou_hero@1x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.Summary {
  @extend .container;
}

.Learn-More {
  @extend .container-fluid;
  padding: 0;
  background-color: $color-offwhite;
}

.Vendors {
  @extend .container-fluid;
  background-color: #F4F4F7;
}

.Enhancements {
  @extend .container;
}

.Testimonials {
  @extend .container-fluid;
  @extend .ieHidden;
}

.Plan {
  @extend .container-fluid;
  padding: 0;
}

.For-Teams {
  @extend .container-fluid;
  padding: 0;
}

@include media('<tablet') {
  .Testimonials {
    display: none;
  }
}

@include media('<lower-tablet') {
  .Hero {
    padding-top: 6.8rem;
    padding-bottom: 5.1rem;
  }
}

@include media('retina2x', '>lower-phone') {
  .Hero {
    background-image: url('Images/forYou_hero@2x.jpg');
  }
}
