@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


.home {
  @include home-page-grid-template;
}

.Hero {
  @include home-page-grid-column;
  grid-row: 1 / 3;
}

.For {
  @include home-page-grid-column;
  grid-row:  2 / 4;
  display: grid;

  grid-template-columns: 120px 580px 40px 580px 120px;

  & .card {
    transition-property: box-shadow, transform;
    transition-duration: .25s;
  }
  & .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 9px 20px 4px rgba($color-offblack, 0.18);
  }

  & .card-left {
    grid-column: 2 / 3;

    .for-teams {
      display: inline-block;
      margin-bottom: 8px;
      margin-right: 8px;

      @include adelle-sans-bold;
      color: $color-green-dark;
      font-size: 2.4rem;
      letter-spacing: 1.8px;
      line-height: 3.6rem;
    }

    .head-one {
      margin-bottom: 36px;

      @include proxima-semi-bold;
      color: $color-offblack;
      font-size: 4.8rem;
      line-height: 5.8rem;
    }

    p {
      @include adelle-sans-regular;
      color: $color-offblack;
      font-size: 2.4rem;
      line-height: 3.6rem;
    }
  }

  & .card-right {
    grid-column: 4 / 5;

    .for-you {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 8px;

      @include adelle-sans-bold;
      color: $color-blue-dark;
      font-size: 2.4rem;
      letter-spacing: 1.8px;
      line-height: 3.6rem;
    }

    .head-one {
      margin-bottom: 36px;

      @include proxima-semi-bold;
      color: $color-offblack;
      font-size: 4.8rem;
      line-height: 5.8rem;
    }

    p {
      @include adelle-sans-regular;
      color: $color-offblack;
      font-size: 2.4rem;
      line-height: 3.6rem;
    }
  }
}

.Engagements {
  @include home-page-grid-column;
  grid-row:  5 / 6;

  display: grid;
  grid-template-columns: 1fr 208px 1024px 208px 1fr;
  grid-template-rows: 315px 112px 315px 112px 315px;

  & .courses, .labs, .exams {
    grid-column: 3 / 4;
  }
  & .courses {
    grid-row: 1 / 2;
  }
  & .labs {
    grid-row: 3 / 4;
  }
  & .exams {
    grid-row: 5 / 6;
  }
}

.Stats {
  @include home-page-grid-column;
  grid-row: 7 / 8;
  background-color: $color-offwhite;
}

.Video {
  @include home-page-grid-column;
  grid-row:  8 / 9;
}

.Testimonials {
  @include home-page-grid-column;
  grid-row:  9 / 10;
  background-color: $color-offwhite;
}

.Vendors {
  @include home-page-grid-column;
  grid-row:  10 / 11;
}

.Plans {
  @include home-page-grid-column;
  grid-row:  11 / 12;
}

.Pamphlet {
  @include home-page-grid-column;
  grid-row:  12 / 13;
}
