@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet,
  'lower-tablet': $lower-tablet,
  'phablet': $phablet,
  'lower-phone': $lower-phone
);


.home {
  @extend .col;
  padding: 0;
}

.Hero {
  @extend .container-fluid;
  padding-top: 13.6rem;
  padding-bottom: 19.6rem;

  background-image: url('Images/home_hero@1x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.For {
  @extend .container;
  margin-top: -8rem;
}

.Engagements {
  @extend .container;
}

.Stats {
  @extend .container-fluid;
  height: 400px;

  background-color: $color-offwhite;
  background-image: url('Images/pattern_lightgray.svg');
  background-position: center;
  @extend .d-flex;
  @extend .align-items-center;
}

.Video {
  @extend .container-fluid;
  background-image: url('Images/home_video@1x.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  padding: 0;
}

.Testimonials {
  @extend .container-fluid;
  background-color: $color-offwhite;
  padding: 0;
  @extend .ieHidden;
}

.Vendors {
  @extend .container-fluid;
  background-color: $color-white-light;
}

.Plans {
  @extend .container-fluid;
  position: relative;
  background-color: $color-white;

  background-image: url('Images/patterns_vertical.svg');
  background-repeat: no-repeat;
  background-position-x: 85%;
}

.Pamphlet {
  @extend .container-fluid;
  background-color: $color-offblack;
  padding: 0;
}


@include media('<tablet') {
  .Stats {
    height: 600px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@include media('<lower-tablet') {
  .Hero {
    padding-top: 7.2rem;
    padding-bottom: 9.7rem;
  }
}

@include media('<phablet') {
  .Video {
    background-image: url('Images/home_video_mobile@1x.jpg');
    background-size: cover;
    background-position: 20% 20%;
  }
}

@include media('retina2x', '>lower-phone') {
  .Hero {
    background-image: url('Images/home_hero@2x.jpg');
  }
}
