@import '~Styles/main';


.hosts {
  grid-area: main;

  display: grid;
  grid-template-rows: auto auto;
}

.Hero {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.HostsContent {
  grid-column: 1/-1;
}
