@import '~Styles/main';


.onAir {
  grid-area: main;

  display: grid;
  @include onair-page-grid-template-columns;
  grid-template-rows: auto auto;
}

.Hero {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.Channel-Guide {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}
