@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


.plans {
  display: grid;
  @include plans-page-grid-template-columns;
  @include plans-page-grid-template-rows;
}

.Hero {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
}

.Pricing {
  grid-column: 1 / -1;
  grid-row: 2 / 4;
  justify-self: center;
}

.Benefits {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
}


@media only screen and (max-width: 375px) {
  .plans {
    display: grid;
    // grid-template-columns: 1fr 16px 343px 16px 1fr;
    grid-template-columns: 1fr 320px 1fr;
    grid-template-rows: 290px 80px repeat(4, 550px 2.4rem) 48px auto;
  }

  .benefits {
    grid-column: 1 / -1;
    grid-row: 12 / 13;
  }
}
