@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet,
  'lower-desktop': $lower-desktop
);

.capsule {
  width: 1200px;
  margin: 0 auto;

  @include display-grid;
  grid-template-columns: repeat(4, 27rem);
  grid-column-gap: 4rem;
}


@include media('<lower-desktop') {
  .capsule {
    width: 100%;

    grid-template-columns: repeat(2, 27rem);
    justify-content: center;
    grid-row-gap: 2.4rem;
  }
}

@include media('<tablet') {
  .capsule {
    grid-template-columns: auto;
  }
}
