@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}
$breakpoints: (
  'upper-phablet': $upper-phablet
);

.capsule {
  @extend .row;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.colLeft {
  @extend .col-12;
  @extend .col-md-4;
  @extend .offset-md-1;
  padding: 0;
}

.colRight {
  @extend .col-12;
  @extend .col-md-4;
  @extend .offset-md-2;
  padding: 0;
}

.podcastLogo {
  @extend .img-fluid;
}

.col12 {
  @extend .col-12;
  margin-top: 2rem;
}

.podcastName {
  padding-bottom: 1rem;
}

.link {
  margin-top: 1rem;
}

@include media('<upper-phablet') {
  .colLeft, .colRight {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .colRight {
     margin-bottom: 4rem;
  }
}
