@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}
$breakpoints: (
  'upper-phablet': $upper-phablet
);

.capsule {
  @extend .row;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.colLeft {
  @extend .col-12;
  @extend .col-md-4;
  @extend .offset-md-1;
  padding: 0;
}

.colRight {
  @extend .col-12;
  @extend .col-md-4;
  @extend .offset-md-2;
  padding: 0;
}

.podcastLogo {
  @extend .img-fluid;
}

.col12 {
  @extend .col-12;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.subtitle {
  @include proxima-semi-bold;
  font-size: 3.6rem;
  line-height: 3.4rem;
  text-align: left;
  position: relative;
}

.summary {
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.4rem;
  position: relative;
  margin: 2rem 0;
}

.link {
  margin-top: 1rem;
}

@include media('<upper-phablet') {
  .colLeft, .colRight {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .askSME {
    margin-top: -4rem;
  }
}
