
@import '~Styles/main';

$breakpoints: (
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone
);

.CareerPaths {
  @extend .col;
  padding: 0;
}

.Hero {
  @extend .container-fluid;
  padding: 0;
  height: 400px;
  overflow: hidden;
  background-color: $color-offblack;
  background-image: url('Images/plan_pattern.svg');
  background-position: center;
}

.Paths {
  @extend .container;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: $color-white;
}

@include media('<upper-phone') {
  .Hero {
    height: 450px;
  }

  .Paths {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@include media('<lower-phone') {
  .Hero {
    height: 500px;
  }
}
