<footer id="footer">
  <div class="footer-wrapper">
    <div class="wrap orange-border-below">
      <div class="left" id="top-left">
        <p><a href="//itpro.tv">ITProTV</a></p>
        <p><a href="//bizpro.tv">BizProTV</a></p>
        <p><a href="//creativepro.tv">CreativeProTV</a></p>
        <p><a href="//devpro.tv">DevProTV</a></p>
      </div>
      <div class="right" id="subscribe">
        <form class="subscribe-form">
          <h5>Subscribe to Our Newsletter</h5>
          <input class="subscribe-input" type="email" placeholder="Email Address" />
          <button class="button" id="subscribe-button">Submit</button>
        </form>
      </div>
      <div class="center-1">
        <div class="center-2">
          <p><a href="tel:352-600-6900">(352) 600-6900</a></p>
          <p>7525 NW 4th Blvd</p>
          <p>Gainesville, FL 32607</p>
        </div>
        <p><a href="/about/">About</a></p>
        <p><a href="/faq/">Help/FAQ</a></p>
      </div>
    </div>
    <div class="wrap">
      <div class="left" id="bottom-left">
        <div id="footer-logo">
          {{ partial "visual/footer-logo.html" . }}
        </div>
        <p>Copyright &copy;OfficeProTV {{ dateFormat "2006" now }}</p>
      </div>
      <div class="right">
        <a href="/privacy/" class="bottom-right">Privacy Policy</a>
        <a href="/eula/" class="bottom-right">EULA</a>
        <a href="/accessibility/" class="bottom-right">Accessibility</a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
