<nav>
  <div id="login-signup-btns">
    <a href="/plans/" class="nav-login" id="sign-up">Sign Up</a>
    <a href="#" class="nav-login" id="login">Login</a>
  </div>
  <div class="mobile-menu">
    <div id="menu-toggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="{{ .Site.BaseURL }}" class="mobile-btns"><li>Home</li></a>
        <a href="/features/" class="mobile-btns"><li>Benefits &amp; Features</li></a>
        <a href="/course-library/" class="mobile-btns"><li>Course Library</li></a>
      </ul>
    </div>
  </div>
  <div class="navigation-main desktop-menu">
    <a href="/features/" class="main-nav-btns">Benefits &amp; Features</a>
    <div class="logo">
      <a href="{{ .Site.BaseURL }}">
        {{ partial "visual/logo.html" . }}
      </a>
    </div>
    <a href="/course-library/" class="main-nav-btns">Course Library</a>
  </div>
</nav>
