@import '~Styles/main';


$breakpoints: (
  'phablet': $upper-phablet
);

:export {
  purplePrimary: $color-purple-primary;
}

.capsule {
  @extend .container-fluid;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  z-index: $z-header;
  align-items: center;
  background-color: $color-offwhite;
}

.centerNavRow {
  @extend .row;
  @extend .no-gutters;
  @extend .justify-content-md-center;
  @extend .align-items-center;
  height: 9rem;
}

.navOutter {
  padding-left: 0;
  padding-right: 0;
  @extend .col-md-11;
  @extend .col-lg-12;
  @extend .col-xl-10;
}

.navWrap {
  @extend .row;
}

.logoBox {
  @extend .col-6;
  @extend .col-md-3;
  @extend .col-lg-2;
}

.nav {
  @extend .col-6;
  @extend .col-md-9;
  @extend .col-lg-10;
  padding-top: .7rem;
  @extend .d-flex;
  @extend .justify-content-end;
  @extend .align-items-center;
}

.ieBannerWrap {
  @extend .ieShow;
}

.ieBanner {
  @extend .row;
  @extend .no-gutters;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  background-color: $color-white-light;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .title {
    text-align: center;
  }

  .icon {
    margin-right: 1rem;
  }
}

@include media("<phablet") {
  .navOutter {
    padding: 0 2.4rem;
  }
}
