@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


.page-header {
  @include page-header-grid;
}

.page-header__menu {
  grid-column: 5 / 6;
  grid-row: 1 / 2
}

.page-header__menu-item {
  display: inline-block;

  & a {
    color: $color-offblack;
    @include proxima-regular;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    line-height: 2rem;
    text-transform: uppercase;
  }

  & .page-header__login-link {
    display: inline-block;
    @include btn($width: 110px, $fontSize: 1.6rem);
    text-transform: capitalize;
  }

  &:not(:last-child) {
    margin-right: 2.14rem;
  }
}

.page-header__logo-box {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin-bottom: 1rem;
}