@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


.page-header {
  display: grid;
  @include page-header-grid;
  background-color: $color-offwhite;
}

.page-header__logo-box {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin-bottom: 1rem;
}

.page-header__menu {
  grid-column: 4 / 10;
  grid-row: 1 / 2;
  margin-left: 5px;
}

.page-header__menu-item {
  display: inline-block;

  & a {
    color: $color-offblack;
    @include proxima-regular;
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    line-height: 2rem;
    text-transform: uppercase;
  }

  & .page-header__login-link {
    color: $color-orange-primary;
    @include proxima-semi-bold;
  }

  & .page-header__try-free {
    display: inline-block;
    @include btn($width: 150px, $fontSize: 1.6rem);
    background-color: $color-orange-primary;
    text-transform: capitalize;
  }

  &:not(:last-child) {
    margin-right: 2.4rem;
  }
}
