@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet,
  'lower-tablet': $lower-tablet
);

:export {
  offBlack: $color-offblack;
}

.container {
  padding: 42px 0;
  background-color: #F4F4F7;
}

.content {
  max-width: 1024px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
}


@include media('<tablet') {
  .content {
    flex-flow: column nowrap;
  }

  .title {
    text-align: center;
    margin-bottom: 4.8rem;
  }
}

@include media('<lower-tablet') {
  .container {
    padding: 6.4rem 0 6.5rem;
  }

  .title {
    font-size: 3rem;
    line-height: 3.7rem;
  }
}
