@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'lower-desktop': $lower-desktop
);

:export {
  offBlack: $color-offblack;
}

.capsule {
  @extend .container;
  padding-top: 42px;
  padding-bottom: 42px;
}

.text {
  @extend .col-12;
  @extend .col-xl-8;

  @extend .d-flex;
  @extend .align-items-xl-center;
  @extend .justify-content-center;
  @extend .justify-content-xl-start;
}

.btn {
  @extend .col-12;
  @extend .col-xl-4;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .justify-content-xl-end;
  @extend .align-items-xl-center;
}

@include media('<lower-desktop') {
  .title {
    text-align: center;
    margin-bottom: 4.8rem;
  }

  .btn {
    margin-left: 0;
  }
}


@include media('<lower-tablet') {
  .capsule {
    padding-top: 6.4rem;
    padding-bottom: 6.5rem;
  }

  .title {
    font-size: 3rem;
    line-height: 3.7rem;
  }
}
