@import '~Styles/main';


$breakpoints: (
  'upper-tablet': $upper-tablet,
  'tablet': $tablet,
  'phablet': $phablet,
  'lower-phone': $lower-phone
);

:export {
  offblack: $color-offblack;
  greyDark: $color-grey-dark;
}

.capsule {
  @extend .row;
  margin-bottom: 5rem;
}

.leftColumn {
  @extend .col-12;
  @extend .col-lg-6;
}

.list {
  padding: 12.8rem 0 19.3rem;
  @extend .d-flex;
  @extend .flex-column;
}

.item {
  height: 12rem;

  @extend .d-flex;
  @extend .flex-nowrap;
  @extend .align-content-between;

  &:not(:last-child) {
    margin-bottom: 16.3rem;
  }
}

.icon-box {
  width: 12rem;
  height: 12rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  border-radius: 6rem;
  background-color: $color-white-light;
}

.summary {
  max-width: 37.6rem;
  margin-left: 3.6rem;
}

.title {
  text-transform: capitalize;
  margin-bottom: 1.6rem;
}

.subtitle {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.RequestForm {
  @extend .col-12;
  @extend .col-lg-6;
  margin-top: -8rem;
  max-width: 50rem;
}

.form {
  padding: 4rem 4rem 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

@include media('<=upper-tablet') {
  .leftColumn {
    order: 2;
    margin: 2rem auto;
  }

  .RequestForm {
    margin: -8rem auto 0;
    padding: 4rem;
  }

  .list {
    padding: 5.6rem 0 6rem;
    align-items: center;
  }

  .item {
    max-width: 28rem;
    height: unset;
    flex-flow: column nowrap;

    &:not(:last-child) {
      margin-bottom: 6.4rem;
    }

    &.binge {
      .summary {
        position: relative;
      }
      .title {
        position: absolute;
        width: 32.1rem;
      }
      .subtitle {
        margin-top: 6rem;
      }
    }
  }

  .summary {
    margin-left: 0;
  }

  .icon-box {
    width: 10rem;
    height: 10rem;
    margin-bottom: 4rem;
    border-radius: 5rem;

    & .laptop {
      width: 6.5rem;
      height: 7.5rem;
    }
    & .popcorn {
      width: 5.2rem;
      height: 6.9rem;
    }
    & .coin {
      width: 4.9rem;
      height: 6.5rem;
    }
  }
}

@include media('<=tablet'){
  .item {
    &.binge {
      .summary {
        position: unset;
      }
      .title {
        position: unset;
        max-width: 28rem;
      }
      .subtitle {
        margin-top: 0;
      }
    }
  }
}
