@import '~Styles/main';


.mainLayout {
  @extend .container-fluid;
  .mainRows {
    @extend .row;
  }
}

.intro {

}

.overlay {
  z-index: $z-overlay;
}

#mainContent {
  padding-top: $nav-height;
}

#footerContent {
  background-color: $color-offwhite;
}

.hidden {
  display: none;
}
