@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

$breakpoints: (
  'tablet': $tablet
);

.capsule {
  @extend .row;
}

.content {
  @extend .d-flex;
  @extend .justify-content-center;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.link {
  margin-top: 2rem;
  margin-bottom: 12rem;
  text-align: center;
}

@include media('<tablet') {

  .content {
    font-size: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

}
