@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
    offBlack: $color-offblack;
}
$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.capsule {
  padding: 2rem 22rem;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
}

.content {
  max-width: 1024px;
  grid-column: 2 / 3;
  font-size: 2.5rem;
  text-align: center;
}

.link {
  grid-column: 2 / 3;
  margin: 2rem 0 12rem;
  text-align: center;
}

@include media('<tablet') {
  .capsule {
    padding: 0 2rem;
  }

  .content {
    flex-flow: column nowrap;
    font-size: 2rem;
    margin: 1rem;
  }

}
