@import '~Styles/main';

.page-footer__social {
  padding: 36px 0 17px;
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;

  & a {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}
.page-footer__copyright {
  @extend .d-flex;
  @extend .justify-content-center;
    margin-bottom: 31px;
}
.copyright {
  color: $color-grey-dark;
  @include adelle-sans-regular;
  font-size: 1.2rem;
  letter-spacing: 0.15px;
  line-height: 1.8rem;
}
