@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


.container {
  height: 100%;
  display: grid;
  @include primary-fr-1440-grid-template-columns;

  background-image: url('Images/home_hero@2x.png');
  background-size: 100%;
}

.intro {
  grid-column: 3 / 10;
  padding: 112px 0 196px;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  color: $color-white;
  text-align: center;
}

.title {
  @include proxima-semi-bold;
  font-size: 6.4rem;
  letter-spacing: 0.53px;
  line-height: 6.6rem;;
}

.subtitle {
  &__sentence-1,
  &__sentence-2 {
    display: block;
    @include adelle-sans-regular;
    font-size: 2.8rem;
    line-height: 4.2rem;
  }
}


.link {
  margin-top: auto;

  @include btn;
  background-color: $color-orange-primary;
  @include boxShadow;
  text-transform: capitalize;
}

