@import '~Styles/main';

$breakpoints: (
  tablet: $header-tablet,
  phone: 588px,
  small: 370px
);

.container {
  height: 100%;
  display: grid;
  // @include primary-fr-1440-grid-template-columns;
  grid-template-columns: 1fr minmax(320px, 1024px) 1fr;

  background-image: url('Images/home_hero@2x.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.intro {
  // grid-column: 3 / 10;
  grid-column: 2/3;
  padding: 13.6rem 0 19.6rem;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  color: $color-white;
  text-align: center;
}

.title {
  font-size: 6.4rem;
  letter-spacing: 0.53px;
  margin-bottom: 2.4rem;
}

.subtitle {
  max-width: 74.3rem;
  margin-bottom: 5.6rem;
  font-size: 2.8rem;
  line-height: 4.2rem;
}

.link {
  @include btn;
  background-color: $color-orange-primary;
  @include boxShadow;
  text-transform: capitalize;
}


@include media("<tablet") {
  .intro {
    padding: 7.2rem 0 9.7rem;
  }

  .title {
    font-size: 4.8rem;
    letter-spacing: 0.4;
    line-height: 5.8rem;
    margin: 0 1rem 1.6rem;
  }

  .subtitle {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2.1rem;
    line-height: 3.1rem;
  }
}
