@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

img {
 max-width: 200px;
}

.container {
 grid-column: 2 / 3;
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-between;
 align-items: center;
}

.img {

}

.bio {

}


@include media('<tablet') {

}


@include media('<=upper-phone') {

}


@include media('<=small-phone') {

}
