@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

img {
 max-width: 100%;
}

.hostContainer {
 display: grid;
 grid-template-columns: 200px 1fr;
 width: 62rem
}

.img {

}

.bio {

}


@include media('<tablet') {

}


@include media('<=upper-phone') {

}


@include media('<=small-phone') {

}
