@import '~Styles/main';


$breakpoints: (
  'tablet': $header-tablet,
  'mobile': 785px
);

.page-footer {
  grid-area: footer;

  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
  grid-template-rows: 60px minmax(210px, auto) 130px;

  height: 100%;
  background-color: $color-offwhite;
}

.page-footer__content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: minmax(178px, 272px) minmax(auto, 752px);
}

.page-footer__logo-box {
  grid-column: 1 / 2;
}

.page-footer__nav {
  grid-column: 2 / 3;
  padding-right: 8.9rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex: 0 1 66.3rem;
}

.page-footer__menu {
  &-title {
    display: inline-block;

    @include proxima-regular;
    color: $color-offblack;
    letter-spacing: 0.4px;
    line-height: 1.7;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  & .page-footer__contact-info-title {
      display: inline-block;

      @include proxima-regular;
      color: $color-offblack;
      letter-spacing: 0.4px;
      line-height: 1.7;
      font-size: 1.4rem;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
}

.page-footer__menu-item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  & a {
    color: $color-grey-dark;
    @include proxima-regular;
    font-size: 1.4rem;
    text-transform: capitalize;
  }
}

.page-footer__address,
.page-footer__tel,
.page-footer__email {
  display: block;

  @include proxima-regular;
  color: $color-grey-dark;
  line-height: 1.8rem;
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
}
.page-footer__email {
  text-decoration: underline;
}

.page-footer__bar {
  grid-column: 2 / 3;
  grid-row: 3/4;

  padding: 36px 0 31px;
  display: flex;
  flex-flow: column nowrap;
  justify-center: center;
  align-items: center;

  border-top: 1px solid #E4E8EC;
}


@include media("<tablet") {
  .page-footer__content {
    padding-left: 4.1rem;
  }
  .page-footer__nav {
    padding-right: 4.1rem;
  }
}

@include media("<mobile") {
  .page-footer__content {
    display: flex;
    flex-flow: column nowrap;
  }

  .page-footer__logo-box {
    margin-bottom: 2.4rem;
  }

  .page-footer__nav {
    flex-flow: column nowrap;
    justify-content: unset;
    flex: 0 0 auto;
  }

  .page-footer__menu {
    margin-bottom: 3.6rem;
  }
}
