@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet
);

:export {
  orangePrimary: $color-orange-primary;
  offBlack: $color-offblack;
  darkGrey: $color-grey-dark;
}

.img-cols {
  @extend .col-12;
  @extend .col-lg-5;
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  display: block;
}

.info-cols {
  @extend .col-12;
  @extend .col-lg-7;
  @extend .d-flex;
  @extend .align-items-center;
  display: block;
}

.img-box {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;

  width: 31.5rem;
  height: 31.5rem;
  position: relative;

  border-radius: 157.5px;
  background-color: $color-offwhite;
}

.img-courses, .img-labs, .img-exams {
  position: absolute;
  display: none;
}

.aniCourses, .aniLabs, .aniExams {
  display: block;
}

.aniExams {
  //left: -6px;
}

.sequence-num {
  display: inline-block;
  margin-bottom: 1.9rem;

  color: $color-grey-dark;
  @include proxima-bold;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 2.2rem;
}
.title {
  margin-bottom: 8px;
  display: block;

  @include proxima-semi-bold;
  font-size: 4.8rem;
  line-height: 5.8rem;
}
.summary {
  margin-bottom: 16px;

  @include adelle-sans-regular;
  font-size: 2rem;
  line-height: 3rem;

  &.courses {
    padding-right: 7.6rem;
  }
  &.labs {
    padding-right: 1rem;
  }
  &.exams {
    padding-right: 1.8rem;
  }
}
.link {
    @extend .d-flex;
    @extend .flex-nowrap;

    color: $color-orange-primary;
    @include adelle-sans-bold;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    line-height: 2.8rem;

    text-decoration: none;
    text-transform: capitalize;

    & span {
      margin-right: 8px;
    }
    & svg {
      align-self: center;
    }
}

@include media('<tablet') {

  .img-courses, .img-labs, .img-exams {
    position: absolute;
    display: inline;
  }

  .aniCourses, .aniLabs, .aniExams {
    display: none;
  }

  .img-cols {
    margin-bottom: 1rem;
  }

  .img-box {
    width: 20rem;
    height: 20rem;
    margin-bottom: 1rem;
  }

  .img-courses {
    width: 18.4rem;
    height: 20rem;
  }

  .img-labs {
    width: 22rem;
    height: 16.6rem;
  }

  .img-exams {
    width: 20rem;
    height: 20rem;
  }

  .sequence-num {
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 2.0rem;
  }

  .title {
    margin-bottom: 8px;
    font-size: 3rem;
    line-height: 3.7rem;
  }

  .link {
    font-size: 1.6rem;
  }

  .summary {
    font-size: 1.6rem;
    line-height: 2.4rem;

    &.courses {
      padding-right: 0;
    }
    &.labs {
      padding-right: 0;
    }
    &.exams {
      padding-right: 0;
    }
  }
}
