@import '~Styles/main';


$breakpoints: (
  'header-tablet': $header-tablet,
  'tablet': 1024px
);

:export {
  orangePrimary: $color-orange-primary;
  offBlack: $color-offblack;
  darkGrey: $color-grey-dark;
}

.container {
  display: grid;
  @include secondary-1440-grid-template-columns;
  // grid-template-columns: 314px 41px 137px 40px 137px 41px 314px;
  // grid-template-columns: 314px 41px 137px 40px 137px 41px 314px;
}

.img-box {
  grid-column: 1 / 2;

  width: 31.5rem;
  height: 31.5rem;
  position: relative;

  border-radius: 157.5px;
  background-color: $color-offwhite;
}

.img-courses {
  position: absolute;
  bottom: 1.6rem;
  left: 3rem;

  // bottom: 5.5rem;
  // left: -1.5rem;
}
.img-labs {
  position: absolute;
  // bottom: 21px;
  // left: -31px;
  bottom: -1.5rem;
  left: -2.5rem;
}
.img-exams {
  position: absolute;
  // bottom: 26px;
  // left: 18px;
  bottom: 2rem;;
  left: 2rem;
}

.info {
  grid-column: 3 / 8;
  max-width: 65rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  margin-left: 20px;
}

.sequence-num {
  display: inline-block;
  margin-bottom: 1.9rem;

  color: $color-grey-dark;
  @include proxima-bold;
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 2.2rem;
}
.title {
  margin-bottom: 8px;

  @include proxima-semi-bold;
  font-size: 4.8rem;
  line-height: 5.8rem;
}
.summary {
  margin-bottom: 16px;

  @include adelle-sans-regular;
  font-size: 2rem;
  line-height: 3rem;

  &.course {
    padding-right: 7.6rem;

  }
  &.labs {
    padding-right: 1rem;
  }
  &.exams {
    padding-right: 1.8rem;
  }
}
.link {
    display: flex;
    flex-flow: row nowrap;

    color: $color-orange-primary;
    @include adelle-sans-bold;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    line-height: 2.8rem;

    text-decoration: none;
    text-transform: capitalize;

    & span {
      margin-right: 8px;
    }
    & svg {
      align-self: center;
      margin-top: 6px;
    }
}

.img-box--flip {
  grid-column: 7 / 8;
}
.info--flip {
  grid-column: 1 / 6;
  margin-left: 0;
}


@include media('<tablet') {
  .container {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .img-box {
    grid-row: 1 / 2;
    justify-self: center;
  }
  .info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;

    margin-left: 0;
  }
  .img-box--flip {
    grid-column: unset;
  }
  .info--flip {
    grid-column: unset;
  }
}

@include media('<header-tablet') {
  .info {
    margin: 0 4rem;
  }

  .img-box {
    width: 20rem;
    height: 20rem;
  }

  .img-courses {
    width: 18.4rem;
    height: 20rem;
    left: 3rem;
    bottom: 1.4rem;
  }
  .img-labs {
    width: 22rem;
    height: 16.6rem;
    left: -1rem;
    bottom: 1.9rem;
  }
  .img-exams {
    width: 20rem;
    height: 20rem;
    left: 2.3rem;
    bottom: 1.5rem;
  }

  .sequence-num {
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 2.0rem;
  }

  .title {
    margin-bottom: 8px;
    font-size: 3rem;
    line-height: 3.7rem;
  }

  .summary {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .link {
    font-size: 1.6rem;
  }
}
