@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

.episodeExtras {
  padding: 3rem 2rem;
}

.title {
  text-transform: capitalize;
  padding: 0 1rem 0 0;
}

.summary {
  font-size: 1.6rem;
  padding: 1rem 0 1rem 0;
}
