@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


.container {
  width: 492px;
  height: 50px;
  padding: 13px 16px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  background: rgba($color-offblack, 0.50);
  border: 1px solid $color-white;
  border-radius: 2px;
}

.input {
  width: 387px;

  border: none;
  border-radius: 2px;
  background: rgba($color-offblack, 0);

  color: $color-white-dark;
  @include adelle-sans-regular;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.input:focus {
  outline: none;
}

.icon {
  cursor: pointer;
}
