@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet
);

.capsule {
  @extend .row;
}

.intro {
  @extend .col-10;
  @extend .offset-1;
  @extend .col-md-8;
  @extend .offset-md-2;

  color: $color-white;
  text-align: center;
}

.title {
  margin-bottom: 2rem;
}

.subtitle {
  margin-bottom: 4.8rem;

  font-size: 2.8rem;
  line-height: 3.6rem;
}

.link {
  text-transform: none;
}


@include media('<lower-tablet') {
  .title {
    font-size: 3rem;
    line-height: 3.7rem;
    margin-bottom: 1.6rem;
  }

  .subtitle {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
