@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet
);

:export {
  headingColor: $color-offblack;
  darkGrey: $color-grey-dark;
}

.capsule {
  @extend .container;
  padding-top: 9.6rem;
  padding-bottom: 13rem;
}

.intro {
  @extend .col-12;
  text-align: center;

  margin-bottom: 5.6rem;
}

.title {
  margin-bottom: 3.6rem;
}

.summary {
  max-width: 73.6rem;
  margin-bottom: 2.4rem;
  line-height: 3rem;
  text-align: center;
}


@include media('<lower-tablet') {
  .capsule {
    padding-top: 5.6rem;
    padding-bottom: 5.2rem;
  }

  .title {
    font-size: 3rem;
    line-height: 3.7rem;
    text-align: center;
    margin-bottom: 1.4rem;
  }

  .summary {
    max-width: 33rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
