@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.capsule {
  @extend .container;
  padding: 5rem 0 6rem;
  text-align: center;
}

.colXS12 {
  @extend .col-12;
  @extend .col-md-10;
  @extend .offset-md-1;
}

.subtitle {
  text-align: center;
  @include proxima-semi-bold;
  font-size: 3.6rem;
  line-height: 5.8rem;
}

.storyContent {
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.4rem;
}


@include media('<tablet') {
  .capsule {
    padding: 4rem 0;
  }

  .content {
    flex-flow: column nowrap;
    margin: 1rem;
  }
}
