@import '~Styles/main';

$breakpoints: (
  'tablet': $tablet,
  'lower-phone': $lower-phone,
  'upper-phablet': $upper-phablet
);

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

.episodeDetails {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 15px;
}

.title {
  text-transform: capitalize;
  padding-right: 1rem;
}
.length {
  font-size: 1.6rem;
  padding-left: 1rem;
  color: $color-grey-dark;
}
.summary {
  font-size: 1.6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@include media('<tablet') {
  .episodeDetails {
    // padding: 3rem 4rem 3rem 0;
  }
}

@include media('<upper-phablet') {
  // .episodeDetails {
  //   padding: 3rem 4rem;
  // }
}

@include media('<lower-phone') {

}
