@import '~Styles/main';

$breakpoints: (
  'tablet': $tablet,
  'lower-phone': $lower-phone,
  'upper-phablet': $upper-phablet
);

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

.episodeDetails {
  padding: 3rem 2rem;
}

.title {
  text-transform: capitalize;
  padding: 0 1rem 0 0;
}
.length {
  font-size: 1.6rem;
  padding-left: 1rem;
  color: $color-grey-dark;
}
.summary {
  font-size: 1.6rem;
  padding: 1rem 0 1rem 0;
}

@include media('<tablet') {
  .episodeDetails {
    padding: 3rem 4rem 3rem 0;
  }
}

@include media('<upper-phablet') {
  .episodeDetails {
    padding: 3rem 4rem;
  }
}

@include media('<lower-phone') {

}
