@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet
);

:export {
  offBlack: $color-offblack;
  orangePrimary: $color-orange-primary;
}

.container {
  padding: 4.4rem 0 5.2rem;

  display: grid;
  grid-template-columns: 1fr minmax(320px, 1024px) 1fr;

  background-color: $color-offblack;
  background-image: url('Images/pattern_darkpurple.svg');
  background-position: center;
  height: 400px;
  overflow: hidden;
}

.intro {
  grid-column: 2 / 3;
  padding-left: 2.4rem;
}

.navigation {
  color: $color-orange-primary;
  @include proxima-semi-bold;
  font-size: 1.8rem;
}

.arrow {
  margin-right: 10px;
  transform: scaleX(-1);
}

.title {
  max-width: 82rem;
  font-size: 6.4rem;
  letter-spacing: 0.53px;
  margin-bottom: 2.4rem;
  margin-top: 2.4rem;
}

.subtitle {
  max-width: 74.3rem;
  margin-bottom: 5.6rem;
  font-size: 2.8rem;
  line-height: 4.2rem;
}


@include media('<lower-tablet') {
  .container {
    padding: 7.2rem 0 9.7rem;
  }

  .title {
    max-width: 61rem;
    font-size: 4.8rem;
    letter-spacing: 0.4px;
    line-height: 5.8rem;
    margin: 1rem 1rem 1.6rem;
  }

  .subtitle {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    line-height: 3.1rem;
  }
}
