@import "../variables";
@import "../shared";
@import "../partials/navigation/main";
@import "../partials/navigation/footer";
.course {
  .page-wrapper {
    @extend .responsive-container;
    a:-webkit-any-link {
      color: $white;
      text-decoration: none;
    }
    #course-title {
      color: $white;
      padding-left: 20px;
      z-index: 2;
      position: absolute;
      top: 70px;
      font-size: 1em;
      text-shadow: #2e2e2e 0.03em 0.03em 0.02em;
      .course-subtitle {
        color: $white;
        font-weight: 200;
        margin-top: -10px;
      }
    }
    .vimeo-container {
      position: relative;
      height: 100%;
      width: 100%;
      padding-bottom: 56.25%;
      z-index: 1;
      iframe {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    #breadcrumbs {
      a {
        text-decoration: none;
        color: $blue;
      }
      ul {
        margin: 20px 0 25px 0;
        -webkit-padding-start: 0px;
      }
      ul li {
        font-weight: 100;
        display: inline-block;
        text-transform: capitalize;
        font-size: .8em;
      }
      ul li:before {
        content: "·";
        position: relative;
        top: 3px;
        color: $orange;
        font-weight: 700;
        font-size: 1.8em;
        padding-right: 3px;
      }
      ul li:first-child::before {
        content: "";
        padding: 0;
      }
      ul li:last-child {
        font-weight: 700;
      }
    }
    #overview {
      clear: both;
    }
    .sign-up {
      .sign-up-btn {
        width: 100%;
        color: $white;
      }
    }
    #episodes {
      #topic-title {
        color: $blue;
        -webkit-margin-after: 0px;
      }
      .episode {
        cursor: pointer;
        text-align: left;
        color: $blue;
        margin: .8rem 0;
        padding: .2rem 1rem;
        border-radius: 3px;
        box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.45);
        -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.45);
        -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.45);
        border-left: 3px solid #10069f;
        transition: all .2s ease-in-out;
      }
      .episode:hover, .episode:active {
        transform: scale(.95);
      }
      h3 {
        -webkit-margin-after: .5em;
        font-family: "Proxima Nova", sans-serif;
        font-size: 1rem;
      }
      p {
        font-size: 1rem;
      }
      .episode-details {
        .episode-length {
          text-align: right;
        }
        p {
          font-size: .75em;
        }
      }
    }
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: $blue;
      background-color: rgba(19, 23, 69, .4);
    }
    .modal-content {
      text-align: center;
      background-color: $white;
      margin: 50% auto;
      padding: 20px;
      border-radius: 3px;
      box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.45);
      -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.45);
      -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.45);
      width: 75%;
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      .close:hover, .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      .cta {
        width: 36%;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        #episodeCta {
          float: left;
        }
      }
    }

    @media (min-width: $xs-bp) {
      #course-title {
        top: 70px;
        font-size: 1.2em;
      }
      #breadcrumbs {
        ul li {
          font-size: .8em;
        }
      }
      .sign-up {
        .sign-up-btn {
          width: 100%;
        }
      }
    }

    @media (min-width: $sm-bp) {
      #course-title {
        top: 75px;
        font-size: 1.5em;
      }
      #breadcrumbs {
        ul li {
          padding-right: 3px;
          font-size: 1em;
        }
        ul li:before {
          padding-right: 6px;
        }
      }
      .sign-up {
        .sign-up-btn {
          width: 50%;
        }
      }
      #episodes {
        .episode {
          float: left;
          width: 41%;
          margin-right: 2%;
          margin-left: 2%;
        }
      }
    }

    @media (min-width: $md-bp) {
      #course-title {
        font-size: 1.8em;
        .course-subtitle {
          margin-top: -20px;
        }
      }
      #breadcrumbs {
        ul li {
          padding-right: 6px;
          font-size: 1em;
        }
        ul li:before {
          padding-right: 9px;
        }
      }
      #overview {
        width: 70%;
        margin-right: 5%;
        float: left;
        margin-bottom: 1rem;
      }
      #course-details {
        width: 25%;
        float: left;
      }
      .sign-up {
        clear: both;
        width: 100%;
        .sign-up-btn {
          width: auto;
        }
      }
      #episodes {
        margin-top: 1rem;
      }
      .modal-content {
        margin: 25% auto;
        width: 40%;
      }
    }

    @media (min-width: $lg-bp) {
      #course-title {
        top: 100px;
        font-size: 1.8em;
      }
      #episodes {
        .episode {
          width: 26%;
        }
      }
    }
  }
}
