@import "../variables";
@import "../shared";
@import "../partials/navigation/main";
@import "../partials/navigation/footer";
.faq {
  .page-wrapper {
    h1 {
      @extend .h1-orange-line;
    }
    .question-mark {
      float: left;
      vertical-align: middle;
    }
    .answer {
      margin-left: 19px;
      padding-top: 3px;
    }
    .question {
      line-height: 32px;
      padding: 10px 0 0 50px;
    }
    .answer p {
      padding-left: 26px;
    }
    .border-left {
      border-left: 2px solid $orange;
    }
    @media (min-width: $md_bp) {
      max-width: 62rem;
      margin: 0 auto;
      .question {
        line-height: 42px;
        padding: 2px 0 0 50px;
      }
      .answer {
        padding-top: 0px;
      }
    }
    @media (min-width: $lg_bp) {
      max-width: 75rem;
      margin: 0 auto;
    }
  }
}
