@import "../variables";
@import "../shared";
@import "../partials/navigation/main";
@import "../partials/navigation/footer";
.tag {
  overflow: hidden;
  .banner-container {
    position: relative;
    text-align: center;
  }
  .center-title {
    color: $white;
    font-weight: 300;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #breadcrumbs {
    a {
      text-decoration: none;
      color: $blue;
    }
    ul {
      margin: 20px 0 25px 0;
      -webkit-padding-start: 0px;
      color: $blue;
    }
    ul li {
      font-weight: 100;
      display: inline-block;
      text-transform: capitalize;
      font-size: .8em;
    }
    ul li:before {
      content: "·";
      position: relative;
      top: 3px;
      color: $orange;
      font-weight: 700;
      font-size: 1.8em;
      padding-right: 3px;
    }
    ul li:first-child::before {
      content: "";
      padding: 0;
    }
    ul li:last-child {
      font-weight: 700;
    }
  }
  #banner {
    height: 6rem;
    width: 100%;
  }
  .course-list {
    li {
      list-style-type: none;
    }
    a {
      color: $blue;
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;
    }
  }
  .subtitle,
  .update {
    font-weight: 300;
  }
  .subtitle {
    font-size: 1rem;
  }
  .update {
    font-size: .75rem;
  }
  #sample-episodes {
    .video-section {
      iframe {
        border: none;
        margin-bottom: 2rem;
        margin-left: -1rem;
      }
    }
    .sign-up-btn {
      width: 100%;
    }
  }
  .course-name {
    font-size: 1rem;
    font-weight: 500;
  }
  .course-list {
    cursor: pointer;
    margin: 0 0 2rem;
    padding: 0 .7rem .3rem;
    border-left: 3px solid #10069f;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.45);
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.45);
    transition: all .2s ease-in-out;
  }
  .course-list:hover, .course-list:active {
    transform: scale(.95);
  }
  .course-section {
    padding: 2rem 1rem;
  }
  #features-section {
    background-color: rgba(21, 23, 70, 0.8);
    padding: 0;
    color: $white;
    margin: 0;
    .features-container {
      .feature-highlight {
        .content {
          padding: 1.8rem 1rem 9.3rem 1rem;
          .features {
            .feature {
              padding-bottom: 5px;
              .icon {
                width: 10%;
                float: left;
                padding-right: 5%;
              }
              h5 {
                width: 85%;
                float: left;
                margin-top: 6px;
              }
            }
          }
        }
      }
      .cta-background {
        background-image: url('/assets/images/cta-img.jpg');
        background-size: cover;
        overflow: hidden;
        width: 100%;
        .cta {
          padding-top: 15px;
          padding-bottom: 25px;
          h2 {
            padding-left: 1rem;
            padding-right: 1rem;
            color: $white;
          }
          p {
            padding-left: 1rem;
            padding-right: 1rem;
          }
          a {
            color: $white;
          }
          .sign-up-btn {
            margin: .8rem 1rem;
            width: 92%;
          }
        }
      }
    }
  }
  h4 {
    color: $white;
    font-size: 120%;
    font-weight: 500;
  }
  h5 {
    font-size: 110%;
    font-weight: 400;
  }
  header,
  section {
    padding: .5rem 1rem 0;
  }

  @media (min-width: 699px) and (max-width: 767px) {
    #features-section {
      background-color: rgba(21, 23, 70, 0.8);
      padding: 0;
      color: $white;
      margin: 0;
      .features-container {
        .feature-highlight {
          .content {
            .features {
              .feature {
                .icon {
                  width: 7%;
                  padding-right: 3%;
                }
                h5 {
                  margin-top: 9px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: $sm_bp) {
    margin: 0 auto;
    #breadcrumbs {
      ul li {
        padding-right: 3px;
        font-size: 1em;
      }
      ul li:before {
        padding-right: 6px;
      }
    }
    .course-list {
      display: inline-block;
      margin-right: .75rem;
    }
    #sample-episodes {
      .video-section {
        iframe {
          margin-right: 3rem;
        }
      }
      .sign-up-btn {
        width: auto;
      }
    }
    #features-section {
      .features-container {
        .feature-highlight {
          .content {
            .features {
              .feature {
                .icon {
                  width: 7%;
                  padding-right: 3%;
                }
                h5 {
                  width: 90%;
                }
              }
            }
          }
        }
        .cta-background {
          .cta {
            .sign-up-btn {
              width: auto;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1199px) and (min-width: 768px) {
    margin: 0 auto;
    .course-list {
      display: inline-block;
      width: 25rem;
    }
  }
  @media (min-width: 957px) {
    margin: 0 auto;
    #breadcrumbs {
      ul li {
        padding-right: 6px;
        font-size: 1em;
      }
      ul li:before {
        padding-right: 9px;
      }
    }
    #features-section {
      padding: 0 0 297px 0;
      .features-container {
        max-width: 75rem;
        margin: 0 auto;
        .feature-highlight {
          width: 50%;
          float: left;
          .content {
            padding: 1.8rem 1rem 0 0;
            .features {
              padding: 1em 0 0 1em;
              width: 100%;
              float: left;
              .feature {
                padding-bottom: 65px;
                .icon {
                  width: 10%;
                  padding-right: 5%;
                }
                h5 {
                  width: 85%;
                  margin-top: 13px;
                }
              }
            }
          }
        }
        .cta-background {
          overflow: visible;
          float: left;
          width: 48%;
          height: 297px;
          padding-left: 2%;
          .cta {
            width: 100%;
          }
        }
      }
    }
  }
  @media (min-width: $lg_bp) {
    h4 {
      font-size: 130%;
    }
    h5 {
      font-size: 120%;
      padding: .5rem 0;
    }
    #banner {
      height: 12rem;
      width: 100%;
    }
    .center-title {
      color: $white;
      font-size: 250%;
      font-weight: 400;
    }
    #features-section {
      .features-container {
        .feature-highlight {
          .content {
            .features {
              padding: 15px 0 0 0;
              .feature {
                .icon {
                }
                h5 {
                  margin-top: 7px;
                }
              }
            }
          }
        }
        .cta-background {
          .cta {
            padding-top: 1.7rem;
          }
        }
      }
    }
  }
  .wrap {
    @media (min-width: $lg_bp) {
      margin: 0 auto;
      max-width: 75rem;
      .course-list {
        display: inline-block;
        margin-right: 2rem;
        width: 25rem;
      }
    }
  }
}
