@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet
);

.container {
  height: 400px;
  @include display-grid;
  -ms-grid-columns: 1fr auto auto auto 1fr;
  grid-template-columns: 1fr auto auto auto 1fr;
  align-items: center;

  background-color: $color-offwhite;
  background-image: url('Images/pattern_lightgray.svg');
  background-position: center;
}

.left, .center, .right {
  max-width: 314px;
}

.left {
  @include grid-column(2,3);
  // grid-column: 2 / 3;
  margin-right: 4.1rem;
}

.center {
  @include grid-column(3,4);
  // grid-column: 3 / 4;
  margin-right: 4.1rem;
}

.right {
  @include grid-column(4,5);
  // grid-column: 4 / 5;
}

.num {
  margin-top: 0;
  margin-bottom: 8px;

  display: block;

  text-align: center;
  color: $color-orange-primary;
  @include proxima-semi-bold;
  font-size: 7.2rem;
  line-height: 8.7rem;
}

.summary {
  text-align: center;
  color: $color-offblack;
  @include adelle-sans-regular;
  font-size: 2rem;
  line-height: 3rem;
}


@include media('<tablet') {
  .container {
    height: unset;
    padding: 6.6rem 0 7.0rem;
    -ms-grid-columns: auto;
    -ms-grid-rows: auto auto auto;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
  }
  .left {
    @include grid-column(1,-1);
    @include grid-row(1,2);
    // grid-column: 1 / -1;
    // grid-row: 1 / 2;
    height: unset;
    margin: 0 12% 6.4rem;
  }
  .center {
    @include grid-column(1,-1);
    @include grid-row(2,3);
    // grid-column: 1 / -1;
    // grid-row: 2 / 3;
    height: unset;
    margin: 0 12% 6.4rem;
  }
  .right {
    @include grid-column(1,-1);
    @include grid-row(3,4);
    // grid-column: 1 / -1;
    // grid-row: 3 / 4;
    margin: 0 12% 0;
  }

  .num {
    font-size: 5.4rem;
    line-height: 6.6rem;
  }
  .summary {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
