@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet
);

.capsule {
  @extend .container;
}

.statsRow {
  @extend .row;
}

.left, .center, .right {
  padding-left: 2rem;
  padding-right: 2rem;
}

.left {
  @extend .col-12;
  @extend .col-lg-4;
}

.center {
  @extend .col-12;
  @extend .col-lg-4;
}

.right {
  @extend .col-12;
  @extend .col-lg-4;
}

.num {
  margin-top: 0;
  margin-bottom: 8px;

  display: block;

  text-align: center;
  color: $color-orange-primary;
  @include proxima-semi-bold;
  font-size: 7.2rem;
  line-height: 8.7rem;
}

.summary {
  text-align: center;
  color: $color-offblack;
  @include adelle-sans-regular;
  font-size: 2rem;
  line-height: 3rem;
}


@include media('<tablet') {
  .left, .center, .right {
    padding: 2.5rem 6rem;
  }

  .num {
    font-size: 5.4rem;
    line-height: 6.6rem;
  }
  .summary {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
