*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* defines 1rem */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  border: 0;
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
}