$default-width: 250px !default;
$default-font-size: 1.8rem !default;
$default-text-color: $color-white;


%btn-base {
  height: 5.2rem;
  padding: 1.3rem 0 1.5rem;
  @include adelle-sans-bold;
  letter-spacing: 1px;
  line-height: 2.4rem;
  text-align: center;

  border-radius: 4px;
}

@mixin display-grid {
  display: -ms-grid;
  display: grid;
}

@mixin grid-column ($col-start, $col-end) {
  -ms-grid-column: $col-start;
  -ms-grid-column-span: $col-end - $col-start;
  grid-column: #{$col-start}/#{$col-end};
}

@mixin grid-row ($row-start, $row-end) {
  -ms-grid-row: $row-start;
  -ms-grid-row-span: $row-end - $row-start;
  grid-row: #{$row-start}/#{$row-end};
}

@mixin btn(
  $width: $default-width,
  $fontSize: $default-font-size,
  $textColor: $default-text-color) {

  @extend %btn-base;
  width: $width;
  font-size: $fontSize;
  color: $textColor;
}

@mixin boxShadow {
  box-shadow: 8px 6px 14px 0 rgba($color-offblack, 0.10), -8px 6px 14px 0 rgba($color-offblack, 0.10), 0 2px 14px 0 rgba($color-offblack, 0.12);
}

h1, h2, h3, h4, h5, h6 {
  @include proxima-semi-bold;
}
.heading-1 {
  font-size: 6.4rem;
  letter-spacing: 0.53px;
  line-height: 6.6rem;
  margin: 0.67rem 0;
}
.heading-2 {
  font-size: 48px;
  letter-spacing: normal;
  line-height: 58px;
}
.heading-3 {
  font-size: 42px;
  letter-spacing: normal;
  line-height: 58px;
}
.heading-4 {
  font-size: 42px;
  letter-spacing: normal;
  line-height: 58px;

  // display: block;
  // font-size: .67em;
  // margin-top: 2.33em;
  // margin-bottom: 2.33em;
  // margin-left: 0;
  // margin-right: 0;
  // font-weight: bold;
}
.heading-5 {}
.heading-6 {}
