// colors
$color-purple-primary: #10069F;
$color-purple-dark: #0B046E;

$color-blue-primary: #00A3E0;
$color-blue-dark: #0094CB;

$color-orange-primary: #F6621C;
$color-orange-dark: #E94D03;
$color-orange-light: #FF9462;

$color-green-secondary: #6CC24A;
$color-green-dark: #469E24;
$color-green-light: #98D480;

$color-grey-secondary: #97999B;
$color-grey-dark: #696A6D;

$color-offwhite: #F9F9FA;
$color-white: #FFFFFF;

$color-offblack: #151746;
$color-black: #000000;




// media breakpoints
$xs_bp: 36.000rem; // 576px
$sm_bp: 48.000rem; // 768px
$md_bp: 62.000rem; // 992px
$lg_bp: 75.000rem; // 1200px
$xl_bp: 120rem;

// containers

$lg_cont: 51.875rem;

// container margins for breakpoints
$xs_mx: 5px;
$sm_mx: 15px;
$md_mx: 20px;
$lg_mx: 30px;
$xl_mx: 100px;

// components
$nav-content-y: 60px;
$nav-padding-y: 15px;
$nav-height: ($nav-content-y + ($nav-padding-y * 2));

$btn-border-radius: 3px;
$btn-p-y: 8px;
$btn-p-x: 20px;
