@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.capsule {
  padding: 5rem 0;
  text-align: center;
}

.titleRow {
  @extend .row;
}

.colXS12 {
  @extend .col-12;
}

.subtitle {
  @include proxima-semi-bold;
  font-size: 3.6rem;
  line-height: 5.8rem;
  text-align: center;
}

.listcapsule {
  @extend .row;
  display: flex;
  @extend .justify-content-center;
}

.item {
  @extend .col-12;
  @extend .col-sm-6;
  @extend .col-md-4;
  padding: 4rem 1rem;
  width: 28rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  @extend .justify-content-center;
}

.value {
  @include adelle-sans-regular;
  color: $color-grey-dark;
  margin-top: 1rem;
}


@include media('<tablet') {
  .capsule {
    padding: 4rem 0;
  }

  .content {
    flex-flow: column nowrap;
    margin: 1rem;
  }

}


@include media('<=upper-phone') {
  .content {
    flex-flow: column nowrap;
    margin: 1rem;
  }
}


@include media('<=small-phone') {
  .content {
    flex-flow: column nowrap;
    margin: 1rem;
  }
}
