@import '~Styles/main';


.mainLayout {
  @include display-grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: 9rem auto auto;
  grid-template-columns: 1fr;
  grid-template-rows: 9rem auto auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.intro {

}

.overlay {
  display: none;
  z-index: $z-overlay;
}
