@import '~Styles/main';


.mainLayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9rem auto auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.intro {

}

.frame {
  margin-top: 8px;
  height: 400px; 
}

.calendar {
  height: 650px;  
}

.overlay {
  display: none;
  z-index: $z-overlay;
}
