@import '~Styles/variables';
@import '~Styles/fonts';
@import '~Styles/mixins';
@import '~Styles/layouts';


.container {
  height: 100%;
  display: grid;
  @include primary-fr-1440-grid-template-columns
  grid-template-rows: 370px 80px 460px 90px;

  position: relative;
  background-color: $color-white;
}

.heading {
  padding-top: 72px;

  grid-column: 1 / -1;
  grid-row: 1 / 3;

  background-color: $color-purple-dark;
}

.title {
  width: 67rem;
  margin: 0 auto 4.8rem;
  padding: 0 6px;

  text-align: center;
}

.switch {
  margin: 0 auto;
}

.card-plans {
  grid-column: 3 / 10;
  grid-row: 2 / 4;
  z-index: 99;

  display: grid;
  grid-template-columns: repeat(2, 314px) 314px;
  grid-column-gap: 41px;
}
