@import '~Styles/main';

:export {
  greyDark: $color-grey-dark;
  offBlack: $color-offblack;
}

$breakpoints: (
  'tablet': $tablet,
  'upper-phone': $upper-phone,
  'lower-phone': $lower-phone,
  'small-phone': $small-phone
);

.container {
  padding: 2rem 22rem;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
  padding: 5,6rem 0 6.8rem;
}

.subtitle {
  grid-column: 2 / 3;
  @include proxima-semi-bold;
  font-size: 3.6rem;
  line-height: 5.8rem;
  text-align: center;
}

.subsection {
  grid-column: 2 / 3;
  @include proxima-semi-bold;
  font-size: 2.6rem;
  line-height: 5.8rem;
  text-align: center;
  margin-top: 2rem;
}

.content {
  max-width: 1024px;
  margin: 0;
  grid-column: 2 / 3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: left;
  padding: 0.5rem 0;
}

.tourContent {
  grid-column: 2 / 3;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.storyContent {
  grid-column: 2 / 3;
  text-align: left;
  font-size: 1.6rem;
  line-height: 2.4rem;
}


@include media('<tablet') {
  .container {
    padding: 0 2rem;
  }

  .content {
    flex-flow: column nowrap;
    margin: 1rem;
  }

}


@include media('<=upper-phone') {
  .content {
    flex-flow: column nowrap;
    margin: 1rem;
  }
}


@include media('<=small-phone') {
  .content {
    flex-flow: column nowrap;
    margin: 1rem;
  }
}
