@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet
);

.carousel {
  display: flex;
  flex-flow: row nowrap;
}

.lastChild {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}


@include media('<tablet') {
  .carousel {
    width: 32rem;
  }
}
