@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet,
  'small-phone': $small-phone
);

:export {
  darkBlue: $color-blue-dark;
  darkGreen: $color-green-dark;
  offBlack: $color-offblack;
  purple: $color-purple-primary;
}

.capsule {
  margin-top: 7.4rem;
  @extend .d-flex;
  @extend .flex-row;
  @extend .row;
}

.titleContainer {
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-lg-row;
  @extend .justify-content-between;
  align-items: center;
}

.content {
  width: 100%;
}

.title {
  max-width: 45.6rem;

  font-size: 4.8rem;
  font-weight: 700;
  line-height: 5.8rem;
}

.plans {
  @extend .d-flex;
  @extend .flex-row;
  @extend .justify-content-lg-end;
  @extend .justify-content-between;

}
.plan {
  min-width: 12rem;
}
.pricing {
  @extend .d-flex;
  flex-flow: column nowrap;

  color: $color-grey-dark;
  @include adelle-sans-regular;
  font-size: 1.6rem;
  line-height: 3rem;
}

.benefits {
  padding-top: 2.4rem;
  padding-bottom: 9.2rem;
}


@include media('<lower-tablet') {
  .titleContainer {
    >div {
      width: 100%;
    }
  }
  .content {
    padding: 0 0 5.6rem;
  }
  .title {
    margin-bottom: 2.4rem;

    font-size: 3rem;
    line-height: 3.7rem;
  }
  .plans {
    margin-bottom: 3.2rem;
  }
  .benefits {
    padding: 0;
  }
}

@include media('<=small-phone') {
  .title {
    text-align: center;
  }
}
