@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet
);


:export {
  offBlack: $color-offblack;
}

.container {
  padding: 11.2rem 0 10.6rem;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  background-color: $color-offwhite;
}

.title {
  width: 82rem;
  text-align: center;
  margin-bottom: 9.6rem;
}

.carousel {
  width: 71rem;
  display: flex;
  flex-wrap: nowrap;
}

.lastChild {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@include media('<lower-tablet') {
  .container {
    padding: 6.4rem 0;
  }
  .title {
    width: unset;
    padding: 0 4rem;
    margin-bottom: 6.4rem;

    font-size: 3rem;
    line-height: 3.7rem;
  }
}
