@import '~Styles/main';


$breakpoints: (
  'lower-tablet': $lower-tablet
);


:export {
  offBlack: $color-offblack;
}

.capsule {
  padding: 11.2rem 0 10.6rem;
  overflow: hidden;

  padding: 11.2rem 0 10.6rem;
  overflow: hidden;

  @include display-grid;
  -ms-grid-columns: 1fr minmax(auto, 1024px) 1fr;
  -ms-grid-rows: auto auto;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
  grid-template-rows: auto auto;

  background-color: $color-offwhite;
}

.content {
  @include grid-column(2,3);
  -ms-grid-column-span: 1;
  // grid-column: 2 / 3;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.title {
  @include grid-column(2,3);
  -ms-grid-column-span: 1;
  // grid-column: 2 / 3;

  width: 82rem;
  text-align: center;
  margin: 0 auto 9.6rem;
}

.carousel {
  width: 71rem;
  display: flex;
  flex-wrap: nowrap;
}

.lastChild {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@include media('<lower-tablet') {
  .capsule {
    padding: 6.4rem 0;
  }

  .title {
    width: unset;
    padding: 0 4rem;
    margin-bottom: 6.4rem;

    font-size: 3rem;
    line-height: 3.7rem;
  }
}
