@import '~Styles/main';


$breakpoints: (
  'tablet': $tablet,
  'upper-phablet': $upper-phablet,
  'video-width': 669px
);

:export {
  offBlack: $color-offblack;
  darkGrey: $color-grey-dark;
}

.capsule {
  @extend .container;
  padding-top: 7.2rem;
  padding-bottom: 9.9rem;
  background-color: $color-offwhite;
}

.content {
  max-width: 1035px;
  margin: 0 auto;
  @extend .row;
  @extend .d-flex;
  @extend .align-items-center;
}

.for-teams-capsule {
  margin-top: 1.3rem;
  @extend .col-12;
  @extend .col-lg-7;
}

.img {
  width: 100%;
}

.vidwrap {
  position: absolute;
  width: 100%;
  height: 100%;

  text-align: center;
  cursor:pointer;

  & iframe {
    width: 100%;
    margin-top: 0;
  }
}

.for-teams-iframe {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  z-index: $z-iframe;
}

.play-button {
  position: absolute;
  top: 35%;
  left: 42%;
  z-index: $z-video;
  cursor: pointer;
}

.intro {
  @extend .col-12;
  @extend .col-lg-5;
  padding-right: 0;
}

.title {
  margin-bottom: 2.4rem;
}
.summary {
  line-height: 3.0rem;
}

@include media('<tablet') {
  .capsule {
    padding-top: 5.6rem;
    padding-bottom: 10.2rem;
  }
  .content {
    // max-width: none;
    // flex-flow: column nowrap;
    // align-items: center;
  }

  // .for-teams-capsule {
  //   order: 2;
  //   margin-top: 0;
  // }

  .intro {
    margin-bottom: 7.1rem;
  }
  .title {
    font-size: 3rem;
    line-height: 3.7rem;
  }
  .summary {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@include media('<upper-phablet') {
  .for-teams-capsule {
    order: 2;
    margin-top: 0;
  }
}


@include media('<video-width') {
  .for-teams-capsule {
    width: 100%;
    padding: 0;
  }
}
